<div class="ui-widget-content">
<!--header was here-->
  <div class="code-view-contents">
    <div class="code-menu w-clearfix"><a href="#" class="export-bunt w-inline-block"><img
      src="assets/images/Asset-404x.png"
      srcset="assets/images/Asset-404x-p-500.png 500w, assets/images/Asset-404x.png 750w"
      sizes="(max-width: 767px) 15px, (max-width: 991px) 2vw, 15px" class="app-icon-small code-icon">
      <div class="tab-title">Export</div>
    </a><a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription"><img
      src="assets/images/Asset-1304x.png" width="23"
      srcset="assets/images/Asset-1304x-p-500.png 500w, assets/images/Asset-1304x.png 729w" sizes="20px">
      <div class="button-description">
        <div>Bug Find</div>
      </div>
    </a><a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription"><img
      src="assets/images/Asset-1324x.png" width="23">
      <div class="button-description">
        <div>Zoom In</div>
      </div>
    </a><a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription"><img
      src="assets/images/Asset-1314x.png" width="23">
      <div class="button-description">
        <div>Zoom Out</div>
      </div>
    </a>
      <div class="sample-title code-title">Code Editor</div>
      <div class="search-form w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
          <div class="color-picker search"><img src="assets/images/Asset-1294x.png"
                                                srcset="assets/images/Asset-1294x-p-500.png 500w, assets/images/Asset-1294x.png 729w"
                                                sizes="28px" class="search-icon"></div>
          <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2"
                 data-name="Color 2" placeholder="Search" id="color-2"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div data-duration-in="300" data-duration-out="100" class="tabs-5 w-tabs">
      <div class="tabs-menu-7 w-tab-menu">
        <a data-w-tab="Tab 2" class="tab-code w-inline-block w-tab-link">
          <div class="tab-title">HTML</div>
        </a>
        <a data-w-tab="Tab 5" class="tab-code w-inline-block w-tab-link">
          <div class="tab-title">Java-Sript</div>
        </a>
        <a data-w-tab="Tab 7" class="tab-code w-inline-block w-tab-link">
          <div class="tab-title">CSS</div>
        </a><a data-w-tab="Tab 6" class="tab-code w-inline-block w-tab-link w--current"><img
        src="assets/images/js.jpg"
        srcset="assets/images/js-p-500.jpeg 500w, assets/images/js.jpg 1052w"
        sizes="(max-width: 767px) 15px, (max-width: 991px) 2vw, 15px"
        class="app-icon-small">
        <div class="tab-title">Java-Compiler</div>
      </a></div>
      <div class="tabs-content-5 w-tab-content">
        <div data-w-tab="Tab 2" class="w-tab-pane">
          <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                         srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                         sizes="(max-width: 479px) 100vw, 545.6000366210938px"
                                         class="assets/ge-12"></div>
        </div>
        <div data-w-tab="Tab 5" class="w-tab-pane">
          <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                         srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                         sizes="(max-width: 479px) 100vw, 545.6000366210938px"
                                         class="assets/ge-12"></div>
        </div>
        <div data-w-tab="Tab 7" class="w-tab-pane">
          <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                         srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                         sizes="(max-width: 479px) 100vw, 545.6000366210938px"
                                         class="assets/ge-12"></div>
        </div>
        <div data-w-tab="Tab 6" class="w-tab-pane w--tab-active">
          <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                         srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                         sizes="(max-width: 479px) 100vw, 545.6000366210938px"
                                         class="assets/ge-12"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="code-edit-expandtab"><img src="assets/images/pull-arrow.png" height="20"></div>
</div>
