<div class="interactions-modal" data-ix="feature-request-none">
  <div class="tool-bar-handle w-clearfix">
    <div class="move-handel">
      <div class="move-ball1"></div>
      <div class="move-ball1"></div>
      <div class="move-ball1"></div>
    </div>
  </div>
  <div class="code-view-contents">
    <div class="code-menu w-clearfix"><a href="#" class="set-display-cordination w-inline-block"
                                         data-ix="buttonhoverdescription"><img
      src="assets/images/symbol-icon-newmessage.svg" width="15">
      <div class="button-description">
        <div>Bug Find</div>
      </div>
    </a>
      <div class="sample-title code-title">Interactions Creator</div>
      <div class="search-form w-form">
        <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
          <div class="color-picker search"><img src="assets/images/Asset-1294x.png"
                                                srcset="assets/images/Asset-1294x-p-500.png 500w, assets/images/Asset-1294x.png 729w"
                                                sizes="28px" class="search-icon"></div>
          <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256" name="color-2"
                 data-name="Color 2" placeholder="Search" id="color-2"></form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
    <div class="please-wait"><img src="assets/images/Asset-2814x.png"
                                  srcset="assets/images/Asset-2814x-p-500.png 500w, assets/images/Asset-2814x.png 952w"
                                  sizes="100px" class="ooops-image">
      <h3 class="small-heading">Oops, We are almost ready for this feature&#x27;s release! Stick with us!</h3>
    </div>
  </div>
  <div class="code-edit-expandtab"><img src="assets/images/pull-arrow.png" height="20"></div>
</div>
