<div class="coming-soon-modal" data-ix="comingsoon-popup">
  <div class="coming-soon-modal-sm">
    <div class="w-row">
      <div class="w-col w-col-6">
        <h3 class="heading-4">This feature is still baking in the oven. We are sorry for the inconvience.</h3>
        <p class="paragraph">We are working hard on delivering the latest in Visual Web Design</p><img
        src="assets/images/Asset-281-blue4x.png" width="100"
        srcset="assets/images/Asset-281-blue4x-p-500.png 500w, assets/images/Asset-281-blue4x.png 952w" sizes="100vw"><a
        href="#" class="link-2">Email Us for Support &amp; Questions</a>
        <a href="#" class="link-block-3 w-inline-block" data-ix="closepopup">
          <div>Close Popup</div>
        </a>
      </div>
      <div class="assets/ge-col w-col w-col-6"><img src="assets/images/image1.PNG"
                                                    srcset="assets/images/image1-p-500.png 500w, assets/images/image1-p-800.png 800w, assets/images/image1.PNG 924w"
                                                    sizes="100vw" class="assets/ge-15"></div>
    </div>
  </div>
</div>
