<div class="app-menu-container w-clearfix">
  <div class="text-block-14">Modules</div>
  <a href="#" class="add-bnt save1 w-inline-block" data-ix="export-modal-reveal"><img
    src="assets/images/Asset-404x.png" width="15"
    srcset="assets/images/Asset-404x-p-500.png 500w, assets/images/Asset-404x.png 750w"
    sizes="(max-width: 767px) 100vw, 20.73750114440918px" class="borader-select">
    <div class="menu-note">
      <div>Export</div>
    </div>
  </a>
  <a href="#" class="add-bnt save1 w-inline-block" data-ix="chat-revealr-save-note-reveal-2"><img
    src="assets/images/Asset-374x.png" width="15"
    srcset="assets/images/Asset-374x-p-500.png 500w, assets/images/Asset-374x.png 1037w"
    sizes="(max-width: 767px) 100vw, 23.30000114440918px" class="borader-select">
    <div class="menu-note">
      <div>Chat View</div>
    </div>
  </a>
</div>
