<!--HEADEER HEADER EVERYBODY!!-->
<nav class="navbar navbar-expand-lg">
<div data-collapse="medium" data-animation="default" data-duration="400" class="app-nav w-nav">
  <a href="#" class="brand w-nav-brand" data-ix="logomenu-appear">
    <img src="assets/images/pixel-creator-logo-fav-lg-2-fav-big.png" width="35"
         srcset="assets/images/pixel-creator-logo-fav-lg-2-fav-big-p-500.png 500w, assets/images/pixel-creator-logo-fav-lg-2-fav-big.png 970w"
         sizes="35px" class="sm-logo1">
  </a>
  <!--LOGO MENU COMPONENT-->
  <app-logo-nav-bar></app-logo-nav-bar>

  <!--LEFT BUTTONS-->
  <app-left-buttons-component [modals]="modals"></app-left-buttons-component>

  <nav role="navigation" class="app-menu w-clearfix w-nav-menu">

    <!--PUBLISHED §BUTTON-->
    <app-publishing-and-online-indicator></app-publishing-and-online-indicator>

    <!--EXPORT AND CHAT BUTTONS-->
   <app-export-and-chat></app-export-and-chat>

    <!--VIEWING BUTTONS-->
    <app-viewing-options></app-viewing-options>


    <!--PUBLOISHING MENU-->
    <app-publishing-menu></app-publishing-menu>
  </nav>
  <div class="container-3 w-container"></div>
</div>
</nav>
