<div class="app-nav-left w-clearfix">
  <a href="#" class="app-tool-bar-link-left active w-inline-block">
    <div class="active-state-text">Designer</div>
    <div class="notification-state"></div>
  </a>
  <a href="#" class="app-tool-bar-link-left center resize w-inline-block" data-ix="coming-soon-modal-reveal">
    <div class="active-state-text">Content</div>
  </a>
  <a href="#" class="app-tool-bar-link-left right w-inline-block" data-ix="coming-soon-modal-reveal">
    <div class="active-state-text">Site Map</div>
  </a>
  <a (click)="showModal(0)" class="app-tool-bar-link-left global-style w-inline-block">
    <div class="active-state-text">Code</div>
    <div class="notification-state"></div>
  </a>
  <a href="#" class="app-tool-bar-link-left global-style w-inline-block" data-ix="interaction-pane-show">
    <div class="active-state-text">Interactions</div>
  </a>
  <a href="#" class="app-tool-bar-link-left global-style w-inline-block" data-ix="coming-soon-modal-reveal">
    <div class="active-state-text">Componets</div>
  </a>
  <a (click)="showModal(1)"  class="app-tool-bar-link-left global-style w-inline-block" data-ix="big-global-reveal1">
    <div class="active-state-text">Global Styles</div>
  </a>
</div>
