<div class="chat-modal" data-ix="chat-modal-dissapear-state1">
  <div class="w-container">
    <div class="chat-modal-containe">
      <div class="modal-header chat-header w-clearfix">
        <div class="modal-header-title">Project Comments</div>
        <div class="date">Manage and Export Project Conversation</div>
        <a href="#" class="modal-close w-inline-block" data-ix="chat-modal-close"><img
          src="assets/images/x-close-icon.svg" class="close-bnt-invert"></a></div>
      <div class="project-chat-members w-clearfix">
        <div class="chat-avatar-contain" data-ix="chat-avatar-reveal"><a href="#"
                                                                         class="chat-avatar w-inline-block"><img
          src="assets/images/profile-for-everything3.PNG"
          srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
          sizes="100vw"></a>
          <div class="name-avatar-chat" data-ix="chat-avatar-name">
            <div>Tayler ODea</div>
          </div>
        </div>
        <div class="chat-avatar-contain" data-ix="chat-avatar-reveal"><a href="#"
                                                                         class="chat-avatar w-inline-block"><img
          src="assets/images/face23.jpg"></a>
          <div class="name-avatar-chat" data-ix="chat-avatar-name">
            <div>Dillion Michenburg</div>
          </div>
        </div>
        <a href="#" class="button right-aling w-inline-block">
          <div>Export Conversation as CSV</div>
        </a>
      </div>
      <div class="chat-box-widget1">
        <div class="chat-module w-clearfix">
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                               srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                               sizes="100vw" class="chat-avatar-speaking">
              <div class="chat-signle-name">Tayler O&#x27;Dea</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                  ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                  faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
            </div>
          </div>
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/face23.jpg" class="chat-avatar-speaking">
              <div class="chat-signle-name">Dillion Micdonalburg</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. </p>
              </div>
            </div>
          </div>
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                               srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                               sizes="100vw" class="chat-avatar-speaking">
              <div class="chat-signle-name">Tayler O&#x27;Dea</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                  ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                  faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.<br><br>Lamet, consectetur adipiscing elit. Suspendisse varius
                  enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                  interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
                  cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.<br></p>
              </div>
            </div>
          </div>
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                               srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                               sizes="100vw" class="chat-avatar-speaking">
              <div class="chat-signle-name">Tayler O&#x27;Dea</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                  ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                  faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
            </div>
          </div>
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                               srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                               sizes="100vw" class="chat-avatar-speaking">
              <div class="chat-signle-name">Tayler O&#x27;Dea</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                  ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                  faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
            </div>
          </div>
          <div class="chat-single w-clearfix"><img src="assets/images/Asset-424x.png" width="20"
                                                   class="new-chat-icon">
            <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                               srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                               sizes="100vw" class="chat-avatar-speaking">
              <div class="chat-signle-name">Tayler O&#x27;Dea</div>
              <div class="chat-signle-date">June 18, 2018</div>
              <div class="chat-modal-single-latest-tag">
                <div>Latest</div>
              </div>
              <div>
                <p class="chat-signle-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                  ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
                  faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                  tristique posuere.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="new-chatt-commet">
          <div>
            <div class="w-row">
              <div class="w-clearfix w-col w-col-1"><img src="assets/images/Asset-424x.png" width="20"
                                                         class="new-chat-icon"><img
                src="assets/images/profile-for-everything3.PNG"
                srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                sizes="100vw" class="chat-avatar-speaking"></div>
              <div class="w-clearfix w-col w-col-11">
                <div class="chat-form w-form">
                  <form id="email-form-4" name="email-form-4" data-name="Email Form 4" class="form-4">
                                        <textarea id="field-3" name="field-3" placeholder="Your New Comment"
                                                  maxlength="5000" data-name="Field 3"
                                                  class="text-field w-input"></textarea><input type="submit"
                                                                                               value="Send"
                                                                                               data-wait="Please wait..."
                                                                                               class="submit-button-6 chat-modal-send w-button">
                  </form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
