<!--side bare wp/js pages images and assets/images importing-->
<app-side-bar-nav></app-side-bar-nav>
<!--tools side bare -->
<app-tools-side-bar></app-tools-side-bar>

<router-outlet></router-outlet>

<app-page-drawer></app-page-drawer>
<app-media-drawer></app-media-drawer>
