<div class="export-modal" data-ix="export-modal-dissapear-state">
  <div class="w-container">
    <div class="chat-modal-containe">
      <div class="modal-header chat-header w-clearfix">
        <div class="modal-header-title">Project Export</div>
        <div class="date">Manage and Export Project Conversation</div>
        <a href="#" class="modal-close w-inline-block" data-ix="export-modal-close-3"><img
          src="assets/images/x-close-icon.svg" class="close-bnt-invert"></a></div>
      <div class="export-contain1">
        <div class="code-view-contents">
          <div class="w-clearfix"><a href="#" class="set-display-cordination w-inline-block"
                                     data-ix="buttonhoverdescription"><img src="assets/images/Asset-1324x.png"
                                                                           width="23">
            <div class="button-description">
              <div>Zoom In</div>
            </div>
          </a><a href="#" class="set-display-cordination w-inline-block" data-ix="buttonhoverdescription"><img
            src="assets/images/Asset-1314x.png" width="23">
            <div class="button-description">
              <div>Zoom Out</div>
            </div>
          </a>
            <div class="search-form space-1 w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="w-clearfix">
                <div class="color-picker search"><img src="assets/images/Asset-1294x.png"
                                                      srcset="assets/images/Asset-1294x-p-500.png 500w, assets/images/Asset-1294x.png 729w"
                                                      sizes="100vw" class="search-icon"></div>
                <input type="text" class="tool-bar-field1 color-scale w-input" maxlength="256"
                       name="color-2" data-name="Color 2" placeholder="Search" id="color-2"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div data-duration-in="300" data-duration-out="100" class="tabs-5 w-tabs">
            <div class="w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-link-tab-1 w-inline-block w-tab-link">
                <div class="tab-title">HTML</div>
              </a>
              <a data-w-tab="Tab 2" class="tab-code w-inline-block w-tab-link">
                <div class="tab-title">CSS</div>
              </a>
              <a data-w-tab="Tab 5" class="tab-code w-inline-block w-tab-link">
                <div class="tab-title">Java-Sript</div>
              </a><a data-w-tab="Tab 6" class="tab-code w-inline-block w-tab-link w--current"><img
              src="assets/images/js.jpg" srcset="assets/images/js-p-500.jpeg 500w, assets/images/js.jpg 1052w"
              sizes="100vw" class="app-icon-small">
              <div class="tab-title">Java-Compiler</div>
            </a></div>
            <div class="tab-content w-tab-content">
              <div data-w-tab="Tab 1" class="w-tab-pane">
                <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                               srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                               sizes="100vw" class="assets/ge-12"></div>
              </div>
              <div data-w-tab="Tab 2" class="w-tab-pane">
                <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                               srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                               sizes="100vw" class="assets/ge-12"></div>
              </div>
              <div data-w-tab="Tab 5" class="w-tab-pane">
                <div class="code-contain"><img src="assets/images/code-dummy4.PNG" width="0"
                                               srcset="assets/images/code-dummy4-p-500.png 500w, assets/images/code-dummy4.PNG 789w"
                                               sizes="100vw" class="assets/ge-12"></div>
              </div>
              <div data-w-tab="Tab 6" class="w-tab-pane w--tab-active">
                <div class="code-contain export-function"><img src="assets/images/code-dummy5.PNG" width="0"
                                                               srcset="assets/images/code-dummy5-p-500.png 500w, assets/images/code-dummy5.PNG 1869w"
                                                               sizes="100vw" class="assets/ge-12"></div>
              </div>
            </div>
          </div>
          <div class="export-pane1 w-clearfix">
            <a href="#" class="button right-aling w-inline-block">
              <div>Export Zip File</div>
            </a>
            <div class="prepard-zip-container">
              <div>Zip File Size: <strong>25MB</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
