body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Karla, sans-serif;
  color: #3e3e3e;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -1px;
}

h4 {
  margin-top: 24px;
  margin-bottom: 10px;
  color: #8f8c8c;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  display: inline-block;
  width: 100%;
  max-width: 1170px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.logo {
  top: 9px;
  width: 240px;
  margin-right: 0px;
  margin-left: 20px;
  padding-top: 0px;
  padding-right: 0px;
  text-align: left;
}

.logo.w--current {
  width: 230px;
  text-align: left;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: hsla(0, 0%, 97%, .83);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.inner-apge {
  margin-top: -4px;
  margin-left: 0px;
  padding-top: 20px;
  padding-left: 20px;
  border-right: 1px none #272530;
  -webkit-transition: background-color 482ms ease;
  transition: background-color 482ms ease;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}

.nav-link.inner-apge:hover {
  background-color: #131217;
}

.nav-link.inner-apge.blue {
  margin-right: 0px;
  margin-left: 10px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #257bd8;
  -webkit-transition-duration: 482ms;
  transition-duration: 482ms;
}

.nav-link.inner-apge.blue:hover {
  background-color: #1d62ab;
}

.button {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #257bd8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.button:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.button.get-license {
  position: relative;
  top: 3px;
  border: 1px solid #e9a835;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(92deg, #fd9802, #eb9d28);
  background-image: linear-gradient(358deg, #fd9802, #eb9d28);
  font-family: Eina01, sans-serif;
  font-weight: 600;
}

.button.get-license:hover {
  background-color: #fd9800;
}

.button.yellow-outline {
  position: relative;
  left: 5px;
  top: 2px;
  border: 1px solid #e9a835;
  background-color: transparent;
  color: #e9a835;
}

.button.yellow-outline:hover {
  background-color: #e9a835;
  color: #fff;
}

.button.right-aling {
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  float: right;
  border: 1px solid #656565;
  background-color: transparent;
  color: #727272;
  font-size: 12px;
  text-decoration: none;
}

.card-content {
  position: relative;
  padding: 0px 0px 15px 15px;
  background-color: hsla(0, 0%, 100%, 0);
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Eina01, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.heading-3.light {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #363636;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.writer-name {
  display: inline-block;
  color: rgba(0, 0, 0, .53);
  font-size: 12px;
}

.writer-name.light {
  float: left;
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgba(58, 58, 58, .53);
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.buy-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #efeaff;
  border-bottom: 1px none #efeaff;
  background-image: url('../../assets/images/pixelbin-bg.png');
  background-position: 0px 0px;
  background-size: 1305px;
}

.buy-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-icon {
  display: inline-block;
}

.buy-content {
  display: inline-block;
  margin-left: 30px;
  text-align: left;
}

.logo-big-hidden {
  position: relative;
  top: 25px;
  z-index: 2;
  width: 96px;
  padding-bottom: 0px;
}

.buy-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.buy-subtitle {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, .65);
  font-size: 20px;
}

.buy-button {
  display: inline-block;
  margin-left: 100px;
  float: right;
}

.dropdown-link {
  color: #fff;
}

.drop-carrot {
  top: 2px;
  color: #616161;
  font-size: 13px;
}

.dropdown-toggle {
  padding-top: 15px;
  color: hsla(0, 0%, 100%, .83);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-toggle.avatar-drop-down {
  top: -8px;
  margin-left: 5px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 10px;
}

.dropdown-toggle.notification-toggle {
  left: 0px;
  top: -5px;
  margin-right: -15px;
  margin-left: 11px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.avatar-header1 {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: -3px;
  padding: 2px;
  border: 1px solid #4d4d4d;
  border-radius: 30px;
}

.h2 {
  color: #e6e6e6;
  font-size: 28px;
  line-height: 30px;
  text-align: left;
}

.menu-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  padding-top: 4px;
  background-color: #202126;
  box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .13);
  font-family: 'IBM Plex Sans', sans-serif;
}

.link {
  color: #262430;
}

.link:hover {
  color: #524b70;
}

.link.invert {
  position: relative;
  left: 18px;
  top: 0px;
  margin-left: 4px;
  padding: 2px 10px;
  float: right;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  -webkit-transition: border-color 498ms ease;
  transition: border-color 498ms ease;
  color: #e5e5e5;
  text-align: right;
  text-decoration: none;
}

.link.invert:hover {
  border-color: #7c7c7c;
}

.link.invert.w--current {
  color: #e9a835;
}

.team-profile-name1 {
  margin-top: 12px;
  font-family: Karla, sans-serif;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  letter-spacing: -0.5px;
}

.team-profile-name1.dark {
  font-family: Karla, sans-serif;
  color: #3b3b3b;
  font-size: 24px;
  letter-spacing: -1px;
}

.team-user-name {
  margin-top: 4px;
  margin-bottom: 26px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #858585;
  font-size: 12px;
  font-style: italic;
  font-weight: 800;
  text-align: left;
}

.preojct-card-dark {
  overflow: hidden;
  width: 320px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 9px;
  border-radius: 4px;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff;
  text-decoration: none;
}

.project-image-dark {
  overflow: hidden;
  width: 100%;
  height: 200px;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .09), rgba(0, 0, 0, .09)), url('../../assets/images/stock-project.PNG'), url('../../assets/images/Transparent.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .09), rgba(0, 0, 0, .09)), url('../../assets/images/stock-project.PNG'), url('../../assets/images/Transparent.png');
  background-position: 0px 0px, 50% 0px, 0px 0px;
  background-size: auto, cover, 180px;
  background-repeat: repeat, no-repeat, repeat;
  text-align: left;
}

.project-image-dark:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .51), rgba(0, 0, 0, .51)), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .09), rgba(0, 0, 0, .09)), url('../../assets/images/stock-project.PNG'), url('../../assets/images/Transparent.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .51), rgba(0, 0, 0, .51)), linear-gradient(180deg, rgba(0, 0, 0, .09), rgba(0, 0, 0, .09)), url('../../assets/images/stock-project.PNG'), url('../../assets/images/Transparent.png');
  background-position: 0px 0px, 0px 0px, 50% 0px, 0px 0px;
  background-size: auto, auto, cover, 180px;
  background-repeat: repeat, repeat, no-repeat, repeat;
}

.in-author-span {
  color: rgba(37, 37, 37, .79);
  font-weight: 600;
}

.external-links-about {
  margin-top: 0px;
}

.subtitle-main {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #818181;
  font-size: 11px;
  font-weight: 600;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.notification-icon {
  width: 40px;
  height: 40px;
  padding: 11px;
  border: 1px solid #bbb;
  border-radius: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: border-color 515ms ease;
  transition: border-color 515ms ease;
}

.notification-icon:hover {
  border-style: solid;
  border-color: #727272;
}

.dropdown-list {
  margin-top: 0px;
}

.dropdown-list.w--open {
  left: -123px;
  z-index: 2000;
  width: 220px;
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-top: 1px solid #161414;
  border-bottom: 2px solid #257bd8;
  border-radius: 4px;
  background-color: #222328;
  color: #838383;
}

.dropdown-link-2 {
  height: 40px;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
  border-bottom: 1px solid #28282a;
  opacity: 0.95;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #a3a3a3;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.dropdown-link-2:hover {
  background-color: #1b1a1f;
  opacity: 1;
}

.dropdown-link-2.w--current {
  color: #e9a835;
  font-size: 14px;
}

.drop-down-title {
  margin-top: 22px;
  padding-left: 20px;
  border-bottom: 1px solid #38383a;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.drop-down-title.dark {
  padding-top: 11px;
  color: #262430;
}

.drop-down-carrot {
  position: absolute;
  top: -5px;
  right: -19px;
  width: 10px;
  height: 10px;
  margin-right: 40px;
  float: right;
  background-color: #1f1e1e;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.drop-down-carrot.light {
  background-color: #e1e8ec;
}

.notification-drop {
  width: 200px;
  margin-top: 0px;
  padding: 10px 5px 10px 10px;
  border-top: 1px solid #ddd;
}

.notification-avatar {
  position: absolute;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.notification-text {
  display: inline-block;
  color: #252525;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 0px;
  text-transform: none;
}

.notification-decription {
  color: #181818;
  font-size: 12px;
  letter-spacing: 0px;
}

.binn-link {
  color: #262430;
}

.drop-down-notification.w--open {
  width: 210px;
  margin-left: -130px;
  padding: 0px;
  border-top: 1px solid #aaa9b4;
  border-radius: 10px;
  background-color: #e1e8ec;
}

.view-all-notifications {
  width: 100%;
  margin-top: 11px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #262430;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.text-field {
  display: inline-block;
  width: 80%;
  height: 62px;
  margin-top: 9px;
  margin-right: 10px;
  padding-bottom: 10px;
  border: 1px solid #303030;
  border-radius: 4px;
  background-color: #1b1b21;
  color: #939393;
}

.text-field:active {
  border-color: #257bd8;
}

.text-field:focus {
  border-color: #257bd8;
}

.text-field.popup {
  width: 76%;
  height: 40px;
  margin-right: 5px;
  margin-left: 4px;
  padding-top: 4px;
  padding-bottom: 0px;
}

.icon {
  margin-right: 8px;
  opacity: 0.68;
  color: #ccc;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 9px;
  border-top: 1px none #686868;
  border-bottom: 1px none #2e2e2e;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #757575;
  font-size: 10px;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title.no-space {
  margin-bottom: 10px;
  padding-left: 0px;
  color: #524e4e;
  font-weight: 400;
}

.title.no-space.installed {
  margin-top: -10px;
  color: #e9a835;
}

.title.no-space.boldupdate {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #ddd;
  font-weight: 400;
}

.field {
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 10px;
  padding-top: 5px;
  float: left;
  border: 1px solid #454545;
  border-radius: 4px;
  background-color: rgba(73, 73, 78, .15);
  font-family: 'IBM Plex Sans', sans-serif;
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 400;
}

.field:focus {
  border-style: solid;
  border-color: #257bd8;
}

.field.white-form-field {
  margin-top: 5px;
  border-color: #c1c1c1;
  background-color: rgba(73, 73, 78, .02);
}

.submit-text-bnt {
  width: 100%;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 615ms ease;
  transition: background-color 615ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
}

.submit-text-bnt:hover {
  background-color: #175aa4;
}

.logo-pic {
  display: inline-block;
  width: 25px;
}

.shadow1 {
  position: relative;
  left: 13px;
  top: -10px;
  z-index: 1;
  width: 100px;
  height: 20px;
  border-radius: 70px;
  box-shadow: inset 6px 6px 26px 0 rgba(0, 0, 0, .35);
  -webkit-transform: scale3d(1, 0.44, 1);
  transform: scale3d(1, 0.44, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hidden {
  position: relative;
  top: 4px;
  overflow: hidden;
}

.beta {
  position: relative;
  left: -3px;
  top: 3px;
  display: inline-block;
  margin-left: 15px;
  font-family: Karla, sans-serif;
  color: #e9a835;
  font-size: 14px;
  letter-spacing: 5px;
}

.user-avatar {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-right: 3px;
  padding: 2px;
  border-radius: 20px;
}

.user-avatar.online {
  padding: 2px;
  border: 1px solid #257bd8;
  -webkit-transition: border 392ms ease;
  transition: border 392ms ease;
}

.user-avatar.online:hover {
  border-color: #83bbf6;
}

.account-dash-menu {
  padding: 60px 16px 16px;
  border-right: 1px none #d1d1d1;
  font-size: 16px;
  text-align: left;
}

.account-dash-link1 {
  display: block;
  margin-top: 11px;
  margin-bottom: 19px;
  -webkit-transition: color 382ms ease;
  transition: color 382ms ease;
  font-family: Karla, sans-serif;
  color: #8f8f8f;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.account-dash-link1:hover {
  color: #252424;
}

.account-dash-link1.w--current {
  color: #e9a835;
}

.notification-state {
  position: relative;
  left: 3px;
  top: -1px;
  display: inline-block;
  width: 0.4vw;
  height: 0.4vw;
  margin-right: 6px;
  margin-left: 4px;
  padding: 0px;
  border-radius: 20px;
  background-color: #257bd8;
}

.app-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50px;
  background-color: #1c1e23;
}

.app-menu {
  display: inline;
  width: 60%;
}

.app-body {
  background-color: rgba(49, 48, 61, .85);
  background-image: -webkit-linear-gradient(270deg, rgba(22, 22, 26, .93), rgba(22, 22, 26, .93)), url('../../assets/images/2000px-Graph-paper.svg.png');
  background-image: linear-gradient(180deg, rgba(22, 22, 26, .93), rgba(22, 22, 26, .93)), url('../../assets/images/2000px-Graph-paper.svg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 400px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.sm-logo1 {
  padding: 5px;
  border: 1px solid #101115;
  border-radius: 4px;
  background-color: #13171e;
}

.app-nav-left {
  position: relative;
  top: -7px;
  display: inline-block;
  height: 50px;
  margin-top: 1px;
  margin-left: 10px;
  float: left;
}

.brand {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 7px 5px 7px 9px;
  float: left;
}

.brand:hover {
  background-color: #16171a;
}

.add-bnt {
  height: 35px;
  margin-top: 9px;
  margin-right: 9px;
  padding: 6px 2px 3px;
  float: left;
  border-style: none solid solid;
  border-width: 2px 1px;
  border-color: #cf3a1e #141414 #141414;
  border-radius: 4px;
  background-color: #1d1d1d;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fafafa;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.add-bnt:hover {
  background-color: #181717;
}

.add-bnt.publish {
  position: relative;
  display: inline-block;
  width: 250px;
  padding-left: 14px;
  border-style: solid;
  border-width: 2px 1px 1px;
  border-color: #257bd8 #2d2d33 #2d2d33;
  background-color: #202126;
  text-align: center;
}

.add-bnt.publish:hover {
  background-color: #33353a;
}

.add-bnt.save1 {
  position: relative;
  left: -11px;
  top: 6px;
  right: 1px;
  height: 30px;
  margin-top: 3px;
  margin-right: 2px;
  margin-left: 5px;
  padding: 5px 4px 6px 5px;
  float: right;
  border: 1px none #3b3b3b;
  background-color: rgba(39, 40, 44, 0);
  opacity: 0.45;
  -webkit-transition: opacity 465ms ease;
  transition: opacity 465ms ease;
}

.add-bnt.save1:hover {
  opacity: 0.84;
}

.button-icon {
  position: relative;
  left: -5px;
  top: -2px;
  margin-right: 0px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  color: #494949;
}

.button-icon:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.button-icon.publish {
  left: -8px;
  top: -2px;
}

.sidebar-nav {
  position: fixed;
  width: 50px;
  height: 100%;
  margin-top: 50px;
  border-top: 1px solid #292929;
  background-color: #272930;
  box-shadow: -4px 26px 44px -6px rgba(0, 0, 0, .27);
}

.project-space {
  overflow: scroll;
  width: 80%;
  margin-top: 50px;
  padding: 20px;
  float: right;
}

.project-space.opening {
  overflow: visible;
}

.plus-sign {
  margin-top: 50px;
  margin-bottom: 43px;
  font-size: 60px;
  font-weight: 100;
}

.pro-plan {
  position: absolute;
  left: 315px;
  right: 0px;
  bottom: 100px;
  display: none;
  width: 30%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px;
  border: 1px solid #575757;
  border-radius: 2px;
  color: #e7e7e7;
  font-size: 11px;
  text-decoration: none;
}

.pro-plan-titile {
  display: inline-block;
}

.pro-plan-titile.dollar {
  float: right;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.paragrph {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.pro-pack-title {
  margin-bottom: 14px;
}

.bnt-no-link {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35px;
  padding-top: 7px;
  border-radius: 0px 0px 2px 2px;
  background-color: #daeef7;
  color: #2c2c2c;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bnt-no-link:hover {
  background-color: #fff;
  color: #313131;
}

.modal-popup {
  position: fixed;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, .82);
}

.modal-form-container {
  display: block;
  width: 30%;
  height: auto;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  border-radius: 4px;
  background-color: #201f1f;
}

.container-3 {
  display: none;
}

.text-block-10 {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: none;
}

.app-icon1 {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  padding: 17px;
  opacity: 0.58;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: background-color 475ms ease, opacity 392ms ease;
  transition: background-color 475ms ease, opacity 392ms ease;
}

.app-icon1:hover {
  background-color: #dddcd5;
  opacity: 1;
}

.app-icon1.thrid-party {
  padding: 17px;
  -webkit-filter: none;
  filter: none;
}

.app-icon1.thrid-party:hover {
  background-color: #27282c;
}

.publish-time {
  color: #838383;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: none;
}

.addnew-project {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 23px 50px;
  border: 3px dashed #414141;
  border-radius: 4px;
  -webkit-transition: border-color 532ms ease;
  transition: border-color 532ms ease;
  color: #a19f9f;
  text-align: center;
  text-decoration: none;
}

.addnew-project:hover {
  border-color: #797979;
}

.file-type {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
}

.file-type.fade-no-access {
  opacity: 0.15;
}

.file-type.large {
  position: relative;
  top: -4px;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 20px;
}

.file-type1 {
  margin-top: 21px;
  margin-bottom: 15px;
}

.mask {
  z-index: 1;
  height: 600px;
  background-color: transparent;
}

.slide {
  position: static;
  height: 600px;
}

.intro-slider {
  top: 94px;
  height: 600px;
  background-color: rgba(51, 49, 49, 0);
}

.slide-nav {
  top: 73px;
  bottom: -146px;
  opacity: 0;
}

.welcome {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 42px;
  color: grey;
  font-weight: 400;
}

.intro-title {
  margin-top: 36px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #aaa;
  text-align: center;
  text-transform: capitalize;
}

.start-new-proejct {
  margin-bottom: 28px;
  color: #a8a8a8;
}

.making-image {
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.intro-container {
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  opacity: 0.84;
  -webkit-transition: -webkit-transform 375ms ease;
  transition: -webkit-transform 375ms ease;
  transition: transform 375ms ease;
  transition: transform 375ms ease, -webkit-transform 375ms ease;
  color: #535353;
  font-size: 12px;
  text-decoration: none;
}

.intro-container:hover {
  opacity: 1;
  -webkit-transform: translate(0px, -10px);
  -ms-transform: translate(0px, -10px);
  transform: translate(0px, -10px);
}

.div-block-7 {
  padding: 16px;
  background-color: #2f3034;
}

.intro-title-sub {
  display: inline-block;
  margin-top: 5px;
  color: #d3d3d3;
  font-weight: 400;
}

.text-block-11 {
  color: #757575;
}

.link-out-logo {
  position: relative;
  left: -2px;
  top: 9px;
  width: 12px;
  float: right;
  opacity: 0.9;
}

.image-start {
  width: 100%;
  height: 250px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.right-arrow {
  top: -63px;
  right: -45px;
  display: block;
  width: 400px;
  height: 80px;
  margin-right: 39px;
  background-color: transparent;
}

.logo-menu {
  position: fixed;
  z-index: 2000;
  display: none;
  width: 300px;
  margin-top: 60px;
  margin-left: 20px;
  border-top: 2px solid #257bd8;
  border-radius: 8px;
  background-color: #15161a;
}

.drop-link {
  width: 100%;
  padding: 9px;
  border-bottom: 1px solid #292828;
  color: #a09d9d;
  text-decoration: none;
}

.drop-link:hover {
  background-color: #257bd8;
  color: #e0e0e0;
}

.drop-link.inlay-state-link {
  display: inline-block;
}

.link-drop-icon {
  position: relative;
  left: 3px;
  top: -1px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.link-drop-icon.no-invert {
  -webkit-filter: none;
  filter: none;
}

.link-drop-text {
  display: inline-block;
  margin-left: 12px;
  font-size: 12px;
}

.text-span-7 {
  font-weight: 200;
}

.sidebar-tools {
  position: fixed;
  overflow: auto;
  width: 300px;
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
  background-color: #222328;
  box-shadow: 3px 0 27px 1px rgba(0, 0, 0, .09);
}

.project-intro-view {
  display: block;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.tool-tab-current {
  padding: 10px;
  background-color: #26272b;
  opacity: 0.43;
  -webkit-transition: opacity 442ms ease;
  transition: opacity 442ms ease;
  color: #474747;
  font-size: 12px;
}

.tool-tab-current:hover {
  opacity: 1;
}

.tool-tab-current.w--current {
  padding: 10px;
  background-color: #1e1f24;
  opacity: 1;
  color: #fff;
  font-size: 14px;
}

.tool-tab-current.right-align {
  left: 22px;
  float: right;
  opacity: 0.87;
}

.tool-tab-text {
  position: relative;
  left: 1px;
  top: 1px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #dbdbdb;
  font-size: 11px;
}

.tool-tab-icon {
  width: 12px;
  opacity: 0.8;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.tabs-menu-4 {
  width: 100%;
  background-color: #26272b;
}

.tool-tab-menu {
  padding: 0px;
}

.tool-tab-menu.last {
  margin-bottom: 250px;
}

.toole-tab-title {
  position: relative;
  top: 3px;
  display: inline-block;
  float: left;
  color: #dbdbdb;
  font-size: 11px;
}

.toole-tab-title.toole-title1 {
  width: 100%;
  margin-bottom: 10px;
  float: none;
  border-bottom: 1px solid #403e3e;
}

.tool-bar-contains {
  padding: 10px;
  border-top: 1px solid #292929;
  color: #6b6b6b;
  font-size: 12px;
}

.tool-bar-field1 {
  height: 30px;
  border: 1px solid #303030;
  border-radius: 4px;
  background-color: #202126;
  font-size: 10px;
}

.tool-bar-field1:active {
  border-color: #257bd8;
}

.tool-bar-field1:focus {
  border-color: #257bd8;
}

.tool-bar-field1.percent-scale {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 60%;
  height: 25px;
  border-color: #34383b;
  color: #fff;
}

.tool-bar-field1.percent-scale:active {
  border-color: #267bd6;
}

.tool-bar-field1.percent-scale:focus {
  border-color: #257bd8;
}

.tool-bar-field1.pull-module {
  position: relative;
  top: 3px;
  display: block;
  height: 34px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 8px;
  padding-left: 8px;
  color: #000;
  font-size: 9px;
  text-align: center;
}

.tool-bar-field1.pull-module:active {
  color: #ececee;
  font-size: 9px;
}

.tool-bar-field1.pull-module::-webkit-input-placeholder {
  color: #f9f9f9;
}

.tool-bar-field1.pull-module:-ms-input-placeholder {
  color: #f9f9f9;
}

.tool-bar-field1.pull-module::placeholder {
  color: #f9f9f9;
}

.tool-bar-field1.color-scale {
  display: inline-block;
  width: 70%;
  float: right;
  border-radius: 4px 0px 0px 4px;
}

.class-dropdown {
  margin-bottom: 7px;
  padding: 2px 10px 2px 12px;
  float: right;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #27282c;
  color: #5d5c5c;
  font-size: 12px;
}

.dropdown-toggle-3 {
  padding: 0px;
  color: #7e7e7e;
  font-size: 12px;
}

.drop-state-down {
  display: inline-block;
  float: left;
}

.dropdown-list-3 {
  width: 50px;
}

.dropdown-list-3.w--open {
  left: 0px;
  top: 29px;
  z-index: 2000;
  border-style: solid;
  border-width: 1px;
  border-color: #257bd8 #303030 #303030;
  border-radius: 4px;
  background-color: #27282c;
}

.state-notification {
  position: relative;
  left: -7px;
  top: -23px;
  display: inline-block;
  width: 7px;
  height: 7px;
  float: right;
  border-radius: 20px;
  background-color: #363636;
}

.set-display-cordination {
  position: static;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 2px 4px 4px;
  float: right;
  border: 1px solid #353535;
  border-radius: 4px;
  background-color: #27282c;
  text-align: center;
  text-decoration: none;
}

.set-display-cordination:hover {
  opacity: 0.55;
}

.set-display-cordination:active {
  background-color: #257bd8;
}

.set-display-cordination:focus {
  background-color: #257bd8;
}

.set-display-cordination.w--current {
  background-color: #27282c;
}

.set-display-cordination.font-bnt-style {
  width: 30px;
  text-align: center;
}

.set-display-cordination.font-bnt-style.inner-row-style-bnt-move-up {
  position: relative;
  top: -20px;
}

.set-display-cordination.left-align {
  float: left;
}

.set-display-cordination.global-style {
  position: relative;
  top: 4px;
  padding-top: 4px;
  float: left;
  color: #257bd8;
  font-size: 10px;
  font-weight: 700;
}

.set-display-cordination.global-style:active {
  color: #fff;
}

.set-display-cordination.global-style:focus {
  color: #fff;
}

.set-display-cordination.global-style:visited {
  background-color: #257bd8;
  color: #fff;
}

.logo-header {
  position: relative;
  left: 5px;
  top: -4px;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.button-description {
  position: absolute;
  z-index: 1000;
  display: none;
  width: auto;
  margin-top: -45px;
  margin-left: -17px;
  padding: 3px 10px 3px 9px;
  border-radius: 4px;
  background-color: #257bd8;
  color: #fff;
  font-size: 10px;
}

.button-description.global-style {
  left: 12px;
  top: 24px;
  display: none;
}

.users-online {
  display: inline-block;
  margin-right: 5px;
  padding-top: 7px;
  float: right;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-12 {
  display: inline-block;
  width: 30%;
  margin-right: 5px;
  color: #9b9b9b;
  text-align: right;
}

.text-block-12.long-title {
  width: 100%;
  margin-bottom: 7px;
  text-align: right;
}

.text-block-12.short.left-align {
  width: auto;
  text-align: left;
}

.layout-asset-input {
  margin-top: 4px;
}

.layout-asset-input.small {
  display: inline-block;
  width: 50%;
}

.layout-asset-input.center {
  padding-left: 16px;
}

.layout-asset-input.left-align {
  text-align: left;
}

.visual-content-edge {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 2px;
  background-image: url('../../assets/images/padd-margin-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.upper-pull {
  position: relative;
  top: -4px;
  display: inline-block;
  width: 100%;
  height: 15px;
  margin-top: 7px;
  margin-left: 2px;
  border-top: 1px solid #535353;
  border-radius: 4px;
  background-color: #2a2b2e;
  text-align: center;
}

.upper-pull:hover {
  background-color: #1f1f22;
  opacity: 1;
}

.upper-pull.upside-down {
  top: -6px;
  margin-top: -3px;
  -webkit-transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(-180deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.little-arrow {
  position: relative;
  top: -4px;
  height: 5px;
  margin-top: 0px;
}

.layout-pull-trigger {
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.layout-pull-trigger.right {
  display: inline-block;
  width: 60px;
  float: right;
}

.layout-pull-trigger.right.small-space {
  margin-right: 5px;
}

.layout-pull-trigger.left {
  margin-right: 5px;
  float: left;
}

.inline-field-module {
  position: relative;
  display: inline-block;
  height: 40px;
}

.visual-layout-editor {
  margin-top: 17px;
}

.layout-edits {
  display: inline-block;
  float: right;
}

.page-drawer {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
  width: 20%;
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 11px;
  background-color: #2b2c32;
}

.cabinate-title {
  display: inline-block;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #74767a;
  font-size: 18px;
  letter-spacing: 1px;
}

.slide-name-close-bnt {
  position: relative;
  top: 5px;
  height: 12px;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-transition: opacity 375ms ease;
  transition: opacity 375ms ease;
}

.slide-name-close-bnt:hover {
  opacity: 0.58;
}

.close-invert-bnt {
  position: relative;
  top: 0px;
  width: 12px;
  height: 20px;
  margin-top: -2px;
  margin-left: 6px;
  -webkit-filter: invert(38%);
  filter: invert(38%);
}

.add-new-page {
  float: right;
}

.symbol-button {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  padding-top: 2px;
  padding-right: 7px;
  padding-left: 7px;
  border: 1px solid #3e4046;
  border-radius: 4px;
  background-color: #303136;
  opacity: 0.67;
  -webkit-transition: background-color 425ms ease;
  transition: background-color 425ms ease;
}

.symbol-button:hover {
  border-color: #282a31;
  background-color: #1b1c1f;
}

.symbol-button.push-down {
  margin-top: 14px;
}

.symbol-icon {
  margin-right: 7px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.symbol-icon.right-aligh {
  position: relative;
  top: 4px;
  float: right;
}

.page-drawer-header {
  padding-bottom: 8px;
  border-bottom: 1px solid #27282c;
}

.draw-contents {
  margin-top: 20px;
}

.drawer-inner-title {
  display: inline-block;
  padding-bottom: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #474747;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: none;
}

.project-pages {
  padding: 8px;
  border-top: 1px solid #332f2f;
}

.project-folder {
  width: 100%;
  padding-top: 5px;
  color: #7c7c7c;
  font-size: 12px;
  text-decoration: none;
  text-transform: none;
}

.page-drawer-title {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-top: 1px;
  margin-right: 10px;
  margin-left: 5px;
}

.project-page {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 16px;
  border-radius: 4px;
  -webkit-transition: background-color 392ms ease, opacity 200ms ease;
  transition: background-color 392ms ease, opacity 200ms ease;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #7c7c7c;
  font-size: 12px;
}

.project-page:hover {
  background-color: #27292c;
  opacity: 0.74;
}

.index {
  color: #474747;
  font-weight: 700;
}

.project-pages-contain {
  margin-bottom: 20px;
}

.app-logo {
  position: relative;
  left: -8px;
  top: -7px;
  bottom: 2px;
  float: right;
}

.add-more-app-bnt {
  width: 100%;
  height: 30px;
  padding-top: 6px;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 425ms ease;
  transition: background-color 425ms ease;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.add-more-app-bnt:hover {
  background-color: #18181b;
}

.bnt-text {
  display: inline-block;
  margin-left: 5px;
}

.modal-details {
  border-radius: 4px;
  background-color: #202126;
  box-shadow: 9px 2px 20px 4px rgba(0, 0, 0, .14);
}

.modal-details.white-modal {
  background-color: #f7f7f7;
  box-shadow: 6px 1px 30px 4px rgba(0, 0, 0, .07);
  color: #595959;
}

.modal-details.white-modal.small-modal {
  display: block;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}

.modal-header {
  padding: 19px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #252629;
}

.modal-header.template {
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 30px;
}

.modal-header.template.white {
  background-color: #fff;
}

.modal-header.chat-header {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.modal-header.white-modal-header {
  background-color: #fff;
  text-align: left;
}

.modal-header-title {
  display: inline-block;
  color: #9f9f9f;
  font-size: 18px;
  font-weight: 300;
}

.date {
  color: #838383;
  font-size: 12px;
  font-weight: 400;
}

.close-bnt-invert {
  width: 15px;
  height: 15px;
  opacity: 0.28;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  -webkit-transition: opacity 442ms ease;
  transition: opacity 442ms ease;
}

.close-bnt-invert:hover {
  opacity: 0.13;
}

.modal-close {
  position: relative;
  top: -37px;
  right: 10px;
  float: right;
}

.modal-close.white {
  color: #2a2a2a;
}

.tab-main {
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(48, 48, 48, 0);
  -webkit-transition: background-color 342ms ease;
  transition: background-color 342ms ease;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.tab-main:hover {
  background-color: rgba(41, 42, 46, .91);
  opacity: 1;
  color: #c5c5c5;
}

.tab-main.w--current {
  margin-bottom: -2px;
  background-color: #303030;
  color: #f8f8f8;
  font-size: 12px;
}

.tab-main.w--current:hover {
  background-color: rgba(41, 42, 46, .91);
}

.tab-main.right-aling {
  float: right;
}

.tabs-menu-5 {
  border-bottom: 1px solid hsla(0, 0%, 87%, .13);
}

.modal-settings-content {
  padding: 20px;
}

.field-lable {
  display: inline-block;
  margin-top: 5px;
  color: #575151;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

.form-block-3 {
  border-bottom: 1px none #2a2a2a;
}

.form-block-3.no-line {
  border-bottom-style: none;
}

.submit-button-4 {
  position: relative;
  top: 1px;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 375ms ease;
  transition: background-color 375ms ease;
}

.submit-button-4:hover {
  background-color: #1c6abe;
}

.form-field {
  margin-bottom: 8px;
}

.main-form {
  padding-bottom: 18px;
}

.field-note {
  display: inline-block;
  margin-right: 5px;
  color: #817a7a;
  letter-spacing: 0px;
  text-transform: none;
}

.user-share {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  float: left;
}

.user-details {
  display: inline-block;
  color: #b9b9b9;
  font-size: 12px;
}

.user-remove {
  margin-left: 4px;
  color: #257bd8;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
}

.user-admin {
  color: #535353;
  font-weight: 700;
}

.open-graph-preview {
  margin-top: 10px;
  margin-bottom: 13px;
  padding: 15px;
  border: 1px solid #645f5f;
  border-radius: 4px;
}

.opengraph-preview {
  border-radius: 4px;
}

.opengraph-preview-text {
  margin-top: 10px;
  padding: 20px;
  border-radius: 4px;
  background-color: #f0f0f0;
}

.open-graph-title {
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  color: #686868;
  font-size: 20px;
  font-weight: 300;
}

.app-container-signel {
  position: relative;
  top: -8px;
  margin-right: 8px;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 375ms ease;
  transition: -webkit-transform 375ms ease;
  transition: transform 375ms ease;
  transition: transform 375ms ease, -webkit-transform 375ms ease;
}

.app-container-signel:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.app-container-header {
  position: relative;
  top: -18px;
  display: block;
  width: 300px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #37383d;
  color: #908e8e;
  font-size: 10px;
  font-weight: 300;
}

.app-name {
  position: absolute;
  left: -20px;
  top: -23px;
  z-index: 2;
  width: 120px;
  margin-left: -11px;
  border-radius: 4px;
  background-color: #262430;
  color: #fff;
  font-size: 10px;
}

.app-name.light {
  left: -20px;
  background-color: #218bfd;
  color: #fff;
}

.add-app-modal-view {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  padding-top: 12px;
  border: 2px dashed #858585;
  border-radius: 8px;
  -webkit-transition: border-color 565ms ease;
  transition: border-color 565ms ease;
  color: dimgrey;
  font-size: 22px;
  font-weight: 100;
  text-decoration: none;
}

.add-app-modal-view:hover {
  border-color: #e2e2e2;
  color: #9b9b9b;
}

.app-single {
  overflow: hidden;
  width: 60px;
  border-radius: 8px;
}

.center-apps {
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-bottom: 17px;
  background-color: #37383d;
  box-shadow: 0 -11px 36px -6px rgba(0, 0, 0, .09);
  text-align: center;
}

.center-apps:hover {
  box-shadow: 0 -2px 37px 0 rgba(0, 0, 0, .17);
}

.app-bottom-toolbar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: -80px;
  z-index: 2000;
  height: 120px;
  margin-bottom: -30px;
  background-color: #313131;
  -webkit-transition: -webkit-transform 358ms cubic-bezier(.25, .1, 0, .932);
  transition: -webkit-transform 358ms cubic-bezier(.25, .1, 0, .932);
  transition: transform 358ms cubic-bezier(.25, .1, 0, .932);
  transition: transform 358ms cubic-bezier(.25, .1, 0, .932), -webkit-transform 358ms cubic-bezier(.25, .1, 0, .932);
}

.app-bottom-toolbar:hover {
  -webkit-transform: translate(0px, -80px);
  -ms-transform: translate(0px, -80px);
  transform: translate(0px, -80px);
}

.sample-title {
  display: inline-block;
  color: #766e6e;
}

.sample-title.code-title {
  position: relative;
  top: 5px;
  margin-left: 12px;
  float: left;
}

.sample-title.moer-space {
  margin-bottom: 15px;
}

.accordion {
  display: block;
  width: 66.66%;
  margin-right: auto;
  margin-bottom: -24px;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.accordion.js-accordion {
  width: 100%;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.accordion-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2e323c;
}

.accordion-header.js-accordion-header {
  padding-left: 10px;
  border-top: 1px solid #2a2a2a;
  border-bottom: 1px solid #2a2a2a;
  background-color: #171a1f;
  cursor: pointer;
}

.accordion-body {
  display: block;
  padding-right: 8px;
  padding-left: 64px;
  color: #9096a4;
}

.accordion-body.js-accordion-body {
  display: block;
  padding-bottom: 0px;
  padding-left: 0px;
  background-color: #222329;
  color: #9096a4;
}

.accordion-body.js-accordion-body.lastone {
  padding-bottom: 150px;
}

.accordion__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-bottom: 24px;
  padding: 20px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(46, 50, 60, .09);
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  text-align: left;
  text-decoration: none;
}

.accordion__item:hover {
  box-shadow: 0 3px 9px 0 rgba(46, 50, 60, .09);
}

.accordion__item.js-accordion-item {
  margin-bottom: 0px;
  padding: 0px;
  background-color: #27282c;
}

.accordion__item.js-accordion-item.active {
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: #27282c;
  cursor: default;
}

.icon-inset {
  padding: 6px;
}

.position-tab {
  display: inline-block;
}

.position-tab.w--current {
  padding-right: 5px;
  padding-left: 5px;
}

.tab-pane-tab-1 {
  background-color: #202126;
}

.icon-image2 {
  margin-right: 3px;
  margin-left: 4px;
}

.tabs-content-4 {
  position: static;
  margin-left: -100px;
  padding: 5px;
}

.relative-image {
  width: 32px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #353535;
  border-radius: 4px;
  background-color: #27282c;
}

.tab-pane-tab-4 {
  width: 200px;
  float: right;
}

.tab-pane-tab-5 {
  position: static;
  width: 200px;
  float: right;
}

.tab-pane-tab1 {
  width: 200px;
  float: right;
}

.tab-pane-tab-0 {
  width: 200px;
  height: 1px;
  float: right;
}

.publsihing-ftp {
  position: absolute;
  top: 48px;
  right: 1px;
  bottom: 39px;
  display: none;
  overflow: hidden;
  width: 300px;
  height: 500px;
  margin-top: 2px;
  padding: 16px;
  float: right;
  border-top: 1px none #393333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #17181c;
  box-shadow: 0 16px 14px 0 rgba(0, 0, 0, .36);
}

.form-title {
  position: relative;
  top: -2px;
  display: block;
  color: #a9a9a9;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.link-out {
  position: relative;
  top: -2px;
  width: 12px;
  margin-left: 5px;
  opacity: 0.77;
  -webkit-transition: opacity 482ms ease;
  transition: opacity 482ms ease;
}

.link-out:hover {
  opacity: 0.5;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-top: 2px;
  opacity: 0.53;
}

.checkbox:active {
  opacity: 0.8;
}

.submit-button-5 {
  width: 100%;
  border-radius: 4px;
  background-color: #4f515b;
  -webkit-transition: background-color 465ms ease;
  transition: background-color 465ms ease;
  color: #fff;
  font-size: 12px;
}

.submit-button-5:hover {
  background-color: #17579d;
  color: #fff;
}

.connect-to-check {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.text-field.long {
  overflow: scroll;
  width: 100%;
  height: 35px;
  margin-top: 2px;
  margin-bottom: 4px;
  border-color: #38383d;
  border-radius: 4px;
  font-size: 12px;
}

.text-field.long:focus {
  border-color: #257bd8;
  background-color: #18171c;
}

.publish-contain {
  margin-top: 30px;
  border-top: 1px solid #3f3e3e;
}

.publish-bnt {
  position: relative;
  left: 8px;
  top: -2px;
  width: 110px;
  height: 25px;
  padding-top: 2px;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 498ms ease;
  transition: background-color 498ms ease;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.publish-bnt:hover {
  background-color: #175eab;
}

.publish-bnt.full {
  position: absolute;
  left: 0px;
  top: auto;
  right: 8px;
  bottom: -7px;
  width: 100%;
  height: 50px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.app-on {
  display: block;
  width: 14px;
  height: 14px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #2a8cf5, hsla(0, 0%, 92%, 0) 63%);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #2a8cf5, hsla(0, 0%, 92%, 0) 63%);
}

.menu-note {
  position: absolute;
  left: -19px;
  bottom: -31px;
  display: none;
  width: 80px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 4px;
  background-color: #257bd8;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
}

.borader-select {
  width: auto;
  height: 18px;
  margin-right: 0px;
  padding: 2px;
}

.borader-select.long {
  height: 15px;
}

.blank-start {
  display: inline-block;
  width: 100%;
  height: 300px;
  padding-top: 35px;
  border-radius: 4px;
  background-color: #202126;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, .29);
  -webkit-transition: background-color 615ms ease, box-shadow 532ms ease;
  transition: background-color 615ms ease, box-shadow 532ms ease;
  text-align: center;
}

.blank-start:hover {
  background-color: #0d0e13;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, .47);
}

.go-bnt {
  width: 80px;
  height: 80px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: rgba(37, 123, 216, .28);
  -webkit-transition: background-color 398ms ease;
  transition: background-color 398ms ease;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.go-bnt:hover {
  background-color: #1b66b7;
}

.tool-bar-handle {
  width: 100%;
  height: 15px;
  border-top: 1px solid #232226;
  background-color: #0b0b0c;
  box-shadow: inset 0 0 6px 0 rgba(42, 43, 50, .61);
  opacity: 0.3;
  cursor: move;
}

.move-handel {
  float: right;
}

.move-ball1 {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #434648;
  opacity: 0.79;
}

.plus-bn {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 28px;
  font-weight: 100;
}

.plus-sign-fade {
  display: block;
  width: 55px;
  height: 55px;
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  border-radius: 30px;
  background-color: rgba(37, 123, 216, .59);
}

.start-new {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #8c8c8c;
}

.project-selector {
  margin-bottom: 40px;
}

.template-card-array {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h4 {
  display: inline-block;
  margin-top: -20px;
  color: #616161;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.view-all {
  width: 180px;
  height: 50px;
  margin-left: 10px;
  padding-top: 14px;
  float: right;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 465ms ease;
  transition: background-color 465ms ease;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.view-all:hover {
  background-color: #1a65b5;
}

.view-all.large {
  display: block;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.view-all.small {
  height: 40px;
  padding-top: 9px;
}

.slide-header {
  display: block;
  margin: 100px auto 40px;
  padding-right: 40px;
  padding-left: 30px;
  text-align: left;
}

.sort-link {
  margin-right: 30px;
  -webkit-transition: color 482ms ease;
  transition: color 482ms ease;
  color: #9a9a9a;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.sort-link:hover {
  color: #656565;
}

.left-arrow {
  top: -200px;
  height: 300px;
}

.success-message {
  background-color: transparent;
}

.pixel-loader {
  width: 40px;
}

.error-message {
  border-radius: 4px;
  background-color: #ec5031;
  color: #fff;
}

.publishing-loading {
  margin-top: 20px;
  color: #8a8a8a;
  font-size: 12px;
}

.template-preview {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  display: none;
  overflow: auto;
  height: 100%;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: hsla(0, 0%, 79%, .71);
}

.template-description {
  padding: 30px 40px 20px 30px;
}

.author-name {
  position: relative;
  left: 1px;
  top: 1px;
  display: inline-block;
  color: #9c9c9c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
}

.user-avatar-small {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 20px;
}

.image-sider {
  width: 100%;
  height: 150px;
  background-color: rgba(53, 53, 53, 0);
}

.template-preview-slide {
  width: 25%;
  height: 85px;
  margin-top: 30px;
  margin-right: 10px;
  text-align: center;
}

.mask-2 {
  height: 150px;
  padding-right: 38px;
  padding-left: 25px;
}

.image-11 {
  height: 80px;
  padding-top: 0px;
  border-radius: 4px;
}

.icon-2 {
  width: 10px;
  font-size: 15px;
}

.slide-nav-2 {
  font-size: 5px;
}

.left-arrow-2 {
  left: -10px;
  width: 20px;
  color: #292929;
}

.right-arrow-2 {
  right: 2px;
  width: 18px;
  background-color: hsla(0, 0%, 97%, .89);
  color: #323232;
}

.template-featured-image {
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
}

.project-description {
  margin-top: -2px;
  padding: 0px 25px 25px;
  color: #464646;
}

.about-template-text {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.template-details1 {
  margin-top: 10px;
}

.bnt {
  width: 96%;
  height: 50px;
  padding-top: 14px;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: opacity 498ms ease;
  transition: opacity 498ms ease;
  color: #fff;
  text-align: center;
  letter-spacing: 0px;
  text-decoration: none;
}

.bnt:hover {
  opacity: 0.63;
}

.bnt.dark {
  background-color: #303030;
}

.template-price {
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #c5c5c5;
  font-size: 18px;
}

.price1 {
  display: inline-block;
  padding: 2px 10px;
  border: 1px none #767676;
  border-radius: 4px;
  background-color: #dfdfdf;
  color: #212121;
  font-size: 12px;
  letter-spacing: 0px;
}

.tab-container {
  padding: 10px 25px 25px;
}

.updated-log-tempate-single {
  margin-top: 10px;
  padding: 15px;
  border-radius: 4px;
  background-color: #27282c;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #e8e5e5;
  font-size: 12px;
  text-decoration: none;
}

.update-note {
  font-family: 'IBM Plex Mono', sans-serif;
  letter-spacing: -0.5px;
}

.update-note-tiele {
  margin-bottom: 10px;
  color: #897e7e;
}

.update-log-note-date {
  color: #636363;
  font-size: 10px;
}

.license1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #b3b3b3;
  text-decoration: none;
}

.page-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(16, 17, 18, .6);
}

.template-modal-contain {
  overflow: hidden;
  border-radius: 4px;
  background-color: #202126;
}

.template-modal-contain.white {
  background-color: #f7f7f7;
}

.chat-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(21, 21, 25, .6);
}

.app-icon-small {
  position: relative;
  width: 15px;
  border-radius: 4px;
}

.app-icon-small.code-icon {
  top: 1px;
}

.chat-modal-containe {
  overflow: hidden;
  border-radius: 4px;
  background-color: #202126;
}

.project-chat-members {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}

.chat-avatar {
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.chat-avatar-contain {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.name-avatar-chat {
  position: absolute;
  left: -25px;
  top: 43px;
  display: none;
  width: 80px;
  height: auto;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #373840;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.chat-box-widget1 {
  overflow: hidden;
  padding: 30px 30px 10px;
  box-shadow: inset -1px 13px 14px -5px hsla(0, 0%, 8%, .3);
}

.chat-module {
  overflow: auto;
  height: 500px;
}

.chat-single {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.new-chat-icon {
  margin-right: 12px;
  float: left;
  opacity: 0.49;
}

.new-chat-content {
  float: left;
}

.chat-avatar-speaking {
  width: 20px;
  height: 20px;
  border-radius: 22px;
}

.chat-signle-date {
  display: inline-block;
  margin-left: 12px;
  color: #545454;
  font-size: 10px;
}

.chat-signle-text {
  margin-top: 20px;
  color: #767676;
  font-size: 12px;
}

.chat-signle-text.pop-up-chat-text {
  margin-top: 10px;
  margin-bottom: -20px;
}

.chat-signle-name {
  display: inline-block;
  margin-left: 5px;
  color: #a4a4a4;
}

.chat-modal-single-latest-tag {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 4px;
  background-color: #257bd8;
  color: #fff;
  font-size: 10px;
}

.new-chatt-commet {
  height: 60px;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #404040;
}

.new-chatt-commet.chat-pop-up-chat-new {
  position: relative;
  top: 20px;
  margin-top: 38px;
  border-top-style: none;
}

.chat-form {
  display: inline-block;
  width: 100%;
  float: left;
}

.form-4 {
  margin-top: -10px;
  margin-left: -10px;
}

.submit-button-6 {
  height: 60px;
  border-radius: 4px;
  background-color: #257bd8;
}

.submit-button-6.chat-popup-bnt {
  position: relative;
  top: 0px;
  width: 17%;
  height: 38px;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 1px;
  font-size: 10px;
}

.submit-button-6.chat-modal-send {
  width: 18%;
}

.chat-popup {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 200;
  display: none;
  width: 300px;
  height: auto;
  margin-top: 80px;
  margin-right: 40px;
  padding: 15px 15px 8px;
  border-radius: 8px;
  background-color: #26272b;
  box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, .37);
  opacity: 0.9;
  -webkit-transition: opacity 482ms ease;
  transition: opacity 482ms ease;
}

.chat-popup:hover {
  opacity: 1;
}

.chat-popup-header {
  margin-bottom: 10px;
  color: #a8a8a8;
}

.link-block-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  float: none;
  border: 1px solid #404040;
  border-radius: 4px;
  -webkit-transition: background-color 498ms ease;
  transition: background-color 498ms ease;
  color: #c4c4c4;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.link-block-2:hover {
  border-color: #257bd8;
  background-color: #257bd8;
}

.text-dropdown {
  width: 80%;
  margin-left: 10px;
  padding: 4px 4px 4px 12px;
  border: 1px solid #333;
  background-color: #27282c;
}

.text-dropdown.small {
  width: 130px;
  padding-right: 2px;
  padding-left: 12px;
  float: left;
}

.text-dropdown.medium {
  width: 40%;
}

.tool-tip {
  position: relative;
  top: -3px;
  display: inline-block;
  margin-left: 8px;
  float: right;
}

.tool-contents {
  margin-bottom: 10px;
}

.color-picker {
  display: inline-block;
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid #333;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #257bd8;
}

.color-picker.search {
  border-radius: 0px 4px 4px 0px;
  background-color: #27282c;
}

.font-options {
  margin-top: -20px;
}

.background-picker-modal {
  display: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #2e3034;
}

.picker-header {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #363636;
  color: #b5bac5;
}

.picker-close {
  float: right;
}

.left {
  float: left;
}

.picker-image-container {
  padding: 10px 10px 5px;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  background-color: rgba(35, 33, 33, .6);
}

.picker-image-container.center {
  padding-right: 10px;
}

.picker-browse-image {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding-top: 5px;
  border-radius: 4px;
  background-color: #383a3b;
  -webkit-transition: background-color 415ms ease;
  transition: background-color 415ms ease;
  text-align: center;
  text-decoration: none;
}

.picker-browse-image:hover {
  background-color: #404345;
}

.picker-browse-image.side-by-side {
  width: 45%;
  margin-right: 6px;
  padding-right: 11px;
  padding-left: 0px;
}

.upload-text {
  display: inline-block;
  margin-left: 10px;
  color: #9ea3af;
}

.pic-example-text {
  font-size: 10px;
}

.icon-sm {
  margin-right: 4px;
}

.icon-text {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
}

.icon-identifier {
  margin-bottom: 4px;
}

.style-title {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 14px;
}

.tool-instructions {
  position: relative;
  top: 5px;
  display: inline-block;
  margin-right: 10px;
  float: right;
  color: #9b9b9b;
}

.graident-modal-popup {
  display: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #2e3034;
}

.gradient-picker {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(0deg, #000 10%, #666 66%, #fff);
  background-image: linear-gradient(90deg, #000 10%, #666 66%, #fff);
}

.gradient-picker1 {
  width: 22px;
  height: 22px;
  border: 4px solid #737373;
  border-radius: 4px;
  background-color: #313335;
}

.gradient-picker1.right {
  float: right;
  background-color: #e5eaee;
}

.gradient-picker-arrow {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: -9px;
  margin-right: auto;
  margin-left: auto;
  background-color: #646667;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
}

.column-settings-popup {
  display: none;
  padding: 10px;
  border-radius: 8px;
  background-color: #2e3034;
}

.media-drawer {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  overflow: auto;
  width: 70%;
  height: 100%;
  margin-top: 50px;
  margin-left: 50px;
  background-color: #2b2c32;
}

.media-tool-bar {
  padding: 10px;
  border-bottom: 1px solid #3b3a3a;
}

.tool-bar-instructions {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  color: #979a9b;
  font-size: 12px;
}

.add-new-bnt {
  display: inline-block;
  width: 160px;
  height: 30px;
  padding-top: 2px;
  float: right;
  border: 1px solid #3e4046;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 515ms ease;
  transition: background-color 515ms ease;
  text-align: center;
}

.add-new-bnt:hover {
  border-color: #2c2e34;
  background-color: #2068b7;
}

.add-new-bnt.new-folder {
  width: 120px;
  margin-right: 10px;
  background-color: #303136;
}

.add-new-bnt.new-folder:hover {
  background-color: #1e1f25;
}

.content-tool-bar {
  float: right;
}

.add-more-text {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.preview-pane {
  padding: 13px;
}

.preview-image-pane {
  display: block;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50%;
  background-color: #202126;
  text-align: center;
}

.preview-pane-details {
  margin-top: 10px;
  color: #8f8f8f;
}

.preview-pagen-title {
  display: inline-block;
  color: #6f6f6f;
}

.preview-pagen-title.stat {
  float: right;
  color: silver;
  font-size: 12px;
  font-weight: 300;
}

.author-file-user {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  float: right;
  border-radius: 25px;
}

.preview-pane-download {
  width: 1005px;
  height: 60px;
  padding-top: 18px;
  background-color: #1d1e23;
  color: #c5c5c5;
  text-align: center;
  text-decoration: none;
}

.downlad-tag {
  display: inline-block;
}

.media-selction {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.media-single {
  position: relative;
  width: 180px;
  height: 220px;
  margin: 10px;
  padding: 20px 10px 10px;
  border: 1px solid #454545;
  -webkit-transition: border-color 582ms ease;
  transition: border-color 582ms ease;
  text-align: center;
  text-decoration: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.media-single:hover {
  border-color: #929292;
}

.media-image-signle {
  height: 100px;
}

.media-name-signel {
  margin-top: 30px;
  color: #595959;
  font-size: 12px;
}

.text-block-14 {
  position: relative;
  top: 14px;
  display: inline-block;
  margin-right: 10px;
  padding-right: 5px;
  border-right: 1px solid #3c3c3c;
  color: #8a8a8a;
  font-size: 10px;
  text-transform: capitalize;
}

.publish-bnt1 {
  float: right;
}

.app-menu-container {
  display: block;
  margin-right: 30px;
  float: right;
}

.media-select-tool {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 19px;
  display: none;
  width: 100%;
  height: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.checkbox-field {
  height: 20px;
  border-radius: 4px;
  opacity: 0.45;
}

.checkbox-2 {
  overflow: hidden;
  width: 15px;
  height: 15px;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .48);
}

.checkbox-label {
  float: right;
  color: #dadada;
  font-size: 10px;
  text-decoration: underline;
}

.checkbox-label:hover {
  color: #fff;
}

.intro-project-select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #363636;
  border-radius: 4px;
  background-color: #27282c;
  color: #e2e2e2;
  font-weight: 200;
}

.intro-project-select.coming-soon {
  opacity: 0.4;
}

.project-select-icon {
  position: relative;
  left: -3px;
  top: -1px;
}

.project-select-text {
  display: inline-block;
  margin-left: 5px;
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 300;
}

.app-tool-bar-link-left {
  width: 100px;
  height: 30px;
  margin-top: 16px;
  padding-top: 5px;
  border: 1px solid #35353b;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #525252;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.app-tool-bar-link-left.active {
  width: 80px;
  padding-top: 4px;
  background-color: rgba(48, 48, 48, .45);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .5);
  color: #c7c7c7;
  font-size: 11px;
}

.app-tool-bar-link-left.right {
  width: 70px;
  padding-top: 4px;
  border-radius: 0px 8px 8px 0px;
  font-size: 11px;
}

.app-tool-bar-link-left.right:hover {
  border-color: #464647;
  color: #aaa;
}

.app-tool-bar-link-left.center {
  width: 70px;
  margin-right: -1px;
  margin-left: -1px;
  padding-top: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 11px;
}

.app-tool-bar-link-left.center:hover {
  border-color: #414149;
  color: #cdcdcd;
}

.app-tool-bar-link-left.center.resize {
  padding-left: 17px;
  text-transform: none;
}

.app-tool-bar-link-left.global-style {
  width: auto;
  margin-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  border-radius: 8px;
  background-color: rgba(19, 20, 21, .38);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, .27);
  -webkit-transition: border-color 548ms ease, background-color 565ms ease;
  transition: border-color 548ms ease, background-color 565ms ease;
  font-size: 11px;
}

.app-tool-bar-link-left.global-style:hover {
  border-color: #707075;
  background-color: rgba(19, 20, 21, .57);
  color: #888484;
}

.app-tool-bar-link-left.center1 {
  position: relative;
  top: 2px;
  width: 60px;
  height: 30px;
  padding-top: 5px;
  border-right-style: none;
  border-left-style: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.active-state-text {
  display: inline-block;
  font-size: 10px;
}

.ui-widget-content {
  /*position: fixed;*/
  right: 30px;
  bottom: 20px;
  z-index: 1000;
  overflow: hidden;
  width: 600px;
  height: 360px;
  padding: 0px;
  border-radius: 2px;
  background-color: #2c2d31;
  box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, .21);
}

.ui-widget-content.page-edit-control {
  left: 30px;
  right: auto;
  bottom: 20px;
  display: block;
  border-radius: 4px;
}

.ui-widget-content.interactions {
  left: 30px;
  right: auto;
  bottom: 20px;
}

.tab-link-tab-1 {
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #3b3b3b;
  background-color: transparent;
  color: #626262;
  font-size: 12px;
}

.tab-link-tab-1.w--current {
  padding-right: 18px;
  padding-left: 18px;
  border-bottom: 1px solid #ffe2e2;
  background-color: transparent;
  color: #b1b1b1;
  font-size: 12px;
}

.tab-code {
  padding-right: 18px;
  padding-left: 18px;
  border-bottom: 1px solid #606060;
  background-color: transparent;
  color: #6c6c6c;
  font-size: 12px;
}

.tab-code:hover {
  border-bottom-color: #cfcfcf;
}

.tab-code.w--current {
  border-bottom-color: #fff;
  background-color: transparent;
  color: #9d9d9d;
}

.code-container {
  padding: 22px;
}

.tabs-content-5 {
  width: 600px;
}

.code-container {
  width: 900px;
}

.code-contain {
  overflow: auto;
  width: 580px;
  height: 280px;
  margin: 10px;
  padding: 10px;
  background-color: #28292a;
}

.code-contain.export-function {
  width: 100%;
  height: 480px;
  margin-left: 0px;
}

.image-12 {
  width: 100%;
}

.tab-title {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 6px;
  color: #757575;
  font-size: 12px;
}

.code-edit-expandtab {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #131318;
  cursor: col-resize;
}

.no-space {
  padding-right: 0px;
  padding-left: 0px;
}

.no-space-row {
  position: relative;
  top: 10px;
}

.no-space-row.move-more {
  top: 20px;
}

.app-store {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(21, 21, 25, .6);
}

.app-mine-text {
  display: inline-block;
  margin-left: 5px;
}

.featued-applcation {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
  background-image: url('../../assets/images/banner-for-tools.png');
  background-position: 0px 0px;
  background-size: 1201px;
}

.featued-applcation.wp {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .51), rgba(0, 0, 0, .51)), url('../../assets/images/wp.PNG');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .51), rgba(0, 0, 0, .51)), url('../../assets/images/wp.PNG');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.featued-applcation.wp:hover {
  background-image: url('../../assets/images/wp.PNG');
  background-position: 50% 50%;
  background-size: cover;
}

.featued-applcation.figma {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .67), rgba(0, 0, 0, .67)), url('../../assets/images/figma.PNG');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .67), rgba(0, 0, 0, .67)), url('../../assets/images/figma.PNG');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, contain;
}

.featued-applcation.figma:hover {
  background-image: url('../../assets/images/figma.PNG');
  background-position: 0px 0px;
  background-size: contain;
}

.featured-app-description {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 16px;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

.instal-buntton {
  width: 100px;
  height: 35px;
  padding-top: 7px;
  float: right;
  border-radius: 4px;
  background-color: #257bd8;
  -webkit-transition: background-color 532ms ease;
  transition: background-color 532ms ease;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.instal-buntton:hover {
  background-color: #11539b;
}

.instal-buntton.dark {
  position: absolute;
  left: 9px;
  right: 0px;
  bottom: -40px;
  float: left;
  background-color: #27282c;
}

.instal-buntton.dark:hover {
  background-color: #18191c;
}

.instal-buntton.dark.push-up {
  left: auto;
  top: 17px;
  right: 21px;
  bottom: auto;
}

.instal-buntton.dark.push-up.update-date-state {
  background-color: #257bd8;
}

.apps {
  margin-bottom: 16px;
}

.app-sm-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #16171b;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.app-sm-card.long-small {
  height: 75px;
  margin-top: 10px;
  -webkit-transition: background-color 415ms ease;
  transition: background-color 415ms ease;
}

.app-sm-card.long-small:hover {
  background-color: #111216;
}

.small-app-icon-details {
  padding: 10px;
}

.button-container {
  margin-top: 20px;
}

.tab-scroll {
  overflow: auto;
}

.app-icon-image {
  position: relative;
  left: 9px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.delete-app {
  margin-top: -28px;
  float: right;
  font-size: 12px;
}

.text-span-8 {
  color: #257bd8;
  font-weight: 700;
}

.default-blank-page {
  overflow: hidden;
  height: 2000px;
  background-color: #fff;
}

.default-hero {
  height: 600px;
  padding: 81px;
  border: 1px solid transparent;
  background-image: -webkit-linear-gradient(105deg, rgba(0, 0, 0, .79), rgba(26, 20, 50, .31)), url('../../assets/images/space-deualt.jpg');
  background-image: linear-gradient(345deg, rgba(0, 0, 0, .79), rgba(26, 20, 50, .31)), url('../../assets/images/space-deualt.jpg');
  background-position: 0px 0px, 0px 50%;
  background-size: auto, cover;
}

.default-hero:hover {
  border: 1px solid #257bd8;
}

.default-header {
  font-family: Bison, sans-serif;
  color: #fff;
  font-size: 200px;
  line-height: 160px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

.default-header:hover {
  border-color: #257bd8;
}

.text-block-16 {
  display: inline-block;
  font-family: 'PT Serif', serif;
  color: #d7d7d7;
  font-size: 18px;
}

.text-block-16.dark {
  position: static;
  left: 0px;
  top: 10px;
  color: #161616;
}

.details1 {
  height: 500px;
}

.deautl-heading1 {
  font-family: Bison, sans-serif;
  font-size: 58px;
  line-height: 50px;
  font-weight: 600;
}

.default-subtext {
  font-family: Bison, sans-serif;
  text-align: left;
}

.image-floating {
  position: relative;
  z-index: 2;
}

.trial-div {
  position: relative;
  margin-top: 69px;
  margin-left: -34px;
  padding-bottom: 20px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0);
}

.trial-div:hover {
  border-color: #257bd8;
}

.trial-div.space-down {
  top: 95px;
}

.trial-div.short {
  width: 550px;
}

.cause-item {
  margin-top: 30px;
}

.states {
  position: absolute;
  top: -30px;
  display: none;
  width: 180px;
  height: 30px;
  padding-left: 0px;
  background-color: #2c88eb;
  text-align: left;
}

.state-bnt {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding-top: 4px;
  -webkit-transition: opacity 565ms ease;
  transition: opacity 565ms ease;
  text-align: center;
}

.state-bnt:hover {
  opacity: 0.35;
}

.active-ball {
  position: absolute;
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #e9a835;
}

.active-ball.warning {
  background-color: #ec5031;
}

.image-13 {
  position: absolute;
}

.div-class-name {
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-size: 10px;
}

.state-id {
  position: absolute;
  left: 0px;
  top: -24px;
  overflow: visible;
  width: 180px;
  height: 25px;
  padding-top: 2px;
  padding-left: 15px;
  background-color: #2272c7;
}

.global-style-preview {
  position: absolute;
  top: -54px;
  right: 40px;
  display: none;
  width: 300px;
  height: auto;
  padding-bottom: 15px;
  border-radius: 4px;
  background-color: #2d2e33;
}

.style-heading {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-family: Bison, sans-serif;
  color: #fff;
  line-height: 38px;
  font-weight: 600;
}

.style-heading.h2 {
  font-weight: 700;
}

.style-heading.paragrau {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.style-manager {
  display: block;
  margin: 5px 10px 0px;
  padding: 5px 5px 5px 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 4px;
  background-color: #202126;
  -webkit-transition: background-color 565ms ease;
  transition: background-color 565ms ease;
}

.style-manager:hover {
  background-color: #3c3e48;
}

.global-preview-header {
  margin-bottom: 15px;
  padding-top: 5px;
  padding-left: 10px;
  color: #766060;
  font-size: 12px;
}

.code-menu {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 9px;
}

.export-bunt {
  width: 100px;
  height: 30px;
  padding-top: 1px;
  float: right;
  border: 1px solid #353535;
  border-radius: 4px;
  background-color: #27282c;
  text-align: center;
}

.search-form {
  display: inline-block;
  width: 140px;
  float: left;
}

.search-form.space-1 {
  margin-left: -10px;
}

.search-icon {
  padding: 8px;
}

.tabs-5 {
  top: -21px;
}

.state-new-div {
  margin-top: 200px;
  border: 1px solid #257bd8;
}

.new-column {
  height: 80px;
  border: 1px dashed #77b2f2;
  box-shadow: inset 0 0 0 4px rgba(0, 0, 0, .15);
  cursor: col-resize;
}

.new-column:hover {
  border-style: solid;
  border-color: #257bd8;
}

.tool-tab-text-tab-style {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 4px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #cfcfcf;
  font-size: 10px;
  letter-spacing: 0px;
}

.white {
  font-family: Karla, sans-serif;
  color: #fff;
  font-weight: 300;
  letter-spacing: -1px;
}

.logo-spam {
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.coming-soon {
  font-size: 10px;
}

.logo-text-dash {
  position: relative;
  left: 5px;
  top: 3px;
  display: inline-block;
  margin-right: 3px;
  margin-left: 6px;
  color: #f3f3f3;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.logo-spam1 {
  font-size: 18px;
  font-weight: 200;
}

.settings {
  position: absolute;
  top: 0px;
  right: 9px;
  padding-bottom: 3px;
  padding-left: 5px;
  opacity: 0.56;
}

.settings:hover {
  opacity: 1;
}

.settings-ball1 {
  display: block;
  width: 4px;
  height: 4px;
  margin-top: 4px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #e3e3e3;
}

.project-card-dark {
  position: relative;
  width: 320px;
  height: 310px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 582ms ease;
  transition: -webkit-transform 582ms ease;
  transition: transform 582ms ease;
  transition: transform 582ms ease, -webkit-transform 582ms ease;
  cursor: pointer;
}

.project-card-dark:hover {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, .15);
  -webkit-transform: scale(1.02) translate(0px, -3px);
  -ms-transform: scale(1.02) translate(0px, -3px);
  transform: scale(1.02) translate(0px, -3px);
}

.global-styles {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(21, 21, 25, .6);
}

.global-style {
  overflow: hidden;
  border-radius: 4px;
  background-color: #202126;
}

.global-styel-pixker {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}

.tabs-menu-6 {
  display: inline-block;
  width: 20%;
}

.tabs-content-7 {
  display: inline-block;
  width: 76%;
  padding-right: 30px;
  padding-left: 10px;
  float: right;
}

.global-style-picker-tab {
  float: none;
}

.tab-link-tab-1-2 {
  width: 100%;
  margin: 10px 10px 0px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #1c1c20;
  -webkit-transition: background-color 482ms ease;
  transition: background-color 482ms ease;
}

.tab-link-tab-1-2:hover {
  background-color: #3c3e48;
}

.tab-link-tab-1-2.w--current {
  margin: 10px 10px 0px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #1c1c20;
  -webkit-transition: background-color 548ms ease;
  transition: background-color 548ms ease;
}

.tab-link-tab-1-2.w--current:hover {
  background-color: #3c3e48;
}

.tab-title-styles {
  position: relative;
  left: -3px;
  top: 8px;
  display: inline-block;
  margin-left: 10px;
  color: #c2c2c2;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
}

.tab-text-side1 {
  margin-top: 12px;
  color: #858585;
}

.tab-note {
  margin-top: 15px;
  color: #555;
  font-size: 10px;
  line-height: 16px;
}

.styles-row {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 12px;
  border-radius: 6px;
  background-color: #1b1c21;
}

.tool-selector {
  margin-top: 10px;
  margin-bottom: 20px;
}

.tool-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #44464f;
  border-radius: 4px;
  background-color: #2e3034;
  box-shadow: inset 0 3px 12px 0 hsla(0, 0%, 64%, .03);
  opacity: 0.68;
  -webkit-transition: opacity 448ms ease, border-color 432ms ease;
  transition: opacity 448ms ease, border-color 432ms ease;
}

.tool-div:hover {
  border-color: #257bd8;
  opacity: 1;
}

.tool-decription {
  margin-top: 8px;
  color: #737476;
  font-size: 12px;
  text-align: center;
}

.footer-link-2 {
  display: block;
  margin-bottom: 12px;
  color: #1a1a1a;
  font-size: 12.5px;
  text-align: right;
  text-decoration: none;
}

.pixel-creator {
  position: relative;
  left: 9px;
  top: 8px;
  display: inline-block;
  margin-top: 7px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
}

.footer-links {
  margin-top: 20px;
}

.social {
  margin-top: 106px;
  float: right;
}

.footer-about {
  margin-top: 19px;
  color: #767676;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.container-4 {
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.fotter-social-icon {
  width: 35px;
  margin-right: 20px;
  border: 1px solid transparent;
  -webkit-transition: border-color 415ms ease;
  transition: border-color 415ms ease;
}

.fotter-social-icon:hover {
  border: 1px solid #c8c8c8;
}

.copywrite {
  font-size: 12px;
  line-height: 14px;
}

.footer {
  height: 300px;
  margin-top: -35px;
  padding-top: 80px;
  background-color: #eee;
}

.small-text {
  font-size: 10px;
}

.stat-icon-notification {
  position: absolute;
  left: -36px;
  top: 21px;
  right: -40px;
  display: none;
  width: 100px;
  height: 20px;
  border-radius: 4px;
  background-color: #202126;
  color: #e9e9e9;
  font-size: 9px;
  text-align: center;
}

.small {
  color: #9e9e9e;
  font-size: 9px;
  letter-spacing: 1px;
  text-transform: none;
}

.project-settings-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 200px;
  background-color: hsla(0, 0%, 92%, .76);
}

.note {
  font-size: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.new-project-modal {
  position: fixed;
  left: 0px;
  top: 60px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  background-color: hsla(0, 0%, 96%, .98);
  text-align: center;
}

.div-block-11 {
  text-align: left;
}

.price-div {
  position: absolute;
  left: 12px;
  bottom: 10px;
  padding: 2px 15px;
  border-radius: 6px;
  background-color: #eeecec;
  font-size: 12px;
  font-weight: 400;
}

.new-project-form-container {
  padding: 20px 70px;
  text-align: left;
}

.start-project-templates-container {
  display: block;
  width: 95%;
  margin-right: auto;
  margin-bottom: 200px;
  margin-left: auto;
}

.add-project-image {
  display: block;
  width: 80px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px;
  border-radius: 100px;
  background-color: #ededed;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.export-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  padding-top: 100px;
  background-color: rgba(21, 21, 25, .6);
}

.export-contain1 {
  padding: 25px;
}

.text-block-17 {
  font-size: 14px;
  text-decoration: none;
}

.prepard-zip-container {
  display: inline-block;
  margin-right: 10px;
  padding: 19px;
  border-left: 2px solid #257bd8;
  border-radius: 4px;
  background-color: #1b1c21;
  color: #a5a5a5;
}

.image-14 {
  box-shadow: 1px 1px 3px 0 #000;
}

.button-side-by-side {
  width: 40%;
  height: 30px;
  margin-right: 8px;
  padding-top: 5px;
  border-radius: 4px;
  background-color: #303030;
  color: #9fa6b6;
  text-align: center;
  text-decoration: none;
}

.center {
  padding-right: 30px;
  text-align: center;
}

.center.more {
  margin-top: 10px;
  padding-right: 36px;
}

.selector {
  width: 100%;
  height: 30px;
  padding-top: 0px;
  border: 1px solid #3a3a3a;
  border-radius: 4px;
  background-color: #202126;
  color: #787a7e;
}

.dropdown-toggle-4 {
  width: 100%;
  height: 30px;
  margin-top: -2px;
  padding-top: 4px;
  padding-left: 10px;
  color: #6f7279;
}

.text-block-18 {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-left: 7px;
}

.dropdown-list-4 {
  background-color: #635353;
}

.dropdown-list-4.w--open {
  background-color: #202126;
}

.dropdown-link-3 {
  color: #808591;
}

.dropdown-link-3:hover {
  background-color: #191c1f;
}

.tabs-menu-7 {
  padding-left: 20px;
}

.transform-bnt.w--current {
  width: 60px;
  margin: 5px 5px 5px 0px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  background-color: #1e2023;
  color: #cbcbcc;
  font-size: 10px;
  text-align: center;
}

.layers-moveable {
  padding: 10px;
}

.layer-link {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-left: 10px;
  float: right;
  border: 1px solid #3a3845;
  border-radius: 4px;
  background-color: #2e3034;
  -webkit-transition: border-color 465ms ease, -webkit-transform 348ms ease;
  transition: border-color 465ms ease, -webkit-transform 348ms ease;
  transition: border-color 465ms ease, transform 348ms ease;
  transition: border-color 465ms ease, transform 348ms ease, -webkit-transform 348ms ease;
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none;
}

.layer-link:hover {
  border-color: #257bd8;
  box-shadow: 2px 2px 17px 0 rgba(28, 27, 27, .4);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #cccbcb;
}

.layer-link.indent1 {
  width: 95%;
  float: right;
}

.layer-link.indent2 {
  width: 90%;
}

.layer-link.indent3 {
  width: 85%;
}

.layer-link.indent4 {
  width: 80%;
}

.layer-icon {
  width: auto;
  height: 12px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

.phone-rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.text-span-9 {
  color: #767c8a;
  font-size: 10px;
}

.please-wait {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 28px;
  text-align: center;
}

.small-heading {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 400;
}

.ooops-image {
  width: 100px;
}

.coming-soon-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 19, 20, .83);
}

.coming-soon-modal-sm {
  display: block;
  width: 600px;
  height: 400px;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  background-color: #f0f0f0;
  text-align: center;
}

.image-col {
  height: 400px;
  padding-right: 0px;
  padding-left: 0px;
}

.image-15 {
  height: 100%;
}

.heading-4 {
  margin: 40px 30px 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.link-2 {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 30px;
}

.link-block-3 {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #257bd8;
  border-radius: 4px;
  text-decoration: none;
}

.interactions-modal {
  position: fixed;
  z-index: 2000;
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 500px;
  margin-left: 200px;
  background-color: #2e3034;
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, .17);
}

html.w-mod-js *[data-ix="logo-menu-dissapear"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="logo-interactionn"] {
  -webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
}

html.w-mod-js *[data-ix="app-pagedrawer-close"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="media-drawer-hide"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="made-withapp-name-bottom"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="publish-ftp-hide"] {
  display: none;
  opacity: 0;
  -webkit-transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="template-preview-hide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="page-modal-hide-1-state"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="chat-avatar-name"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="chat-modal-dissapear-state1"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="export-modal-dissapear-state"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="chat-popupdissapear"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="background-picker-hide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="meida-select-toolshide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="app-store-hide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="hide-global-styles-preview"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="project-page-stat-hide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="project-settingsview-hide"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="feature-request-none"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="comingsoon-popup"] {
  display: none;
  opacity: 0;
}

@media (max-width: 991px) {
  .sidebar-tools {
    width: 260px;
  }
  .accordion {
    width: 83.33%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .publsihing-ftp {
    margin-top: 20px;
  }
  .chat-popup {
    display: none;
  }
  .text-dropdown.small {
    padding-left: 12px;
  }
  .text-block-14 {
    margin-right: 20px;
  }
  .footer {
    height: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .accordion {
    width: 100%;
    margin-bottom: -16px;
  }
  .accordion__item {
    margin-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 479px) {
  .sm-logo1 {
    top: -5px;
  }
  .add-bnt {
    display: none;
  }
  .sidebar-nav {
    display: none;
  }
  .project-space {
    width: 100%;
    padding-left: 0px;
  }
  .accordion-body {
    padding-left: 56px;
  }
  .footer-link-2 {
    text-align: center;
  }
  .social {
    float: none;
    text-align: center;
  }
  .footer {
    height: auto;
  }
}

@font-face {
  font-family: 'Eina01';
  src: url('../../assets/fonts/Eina01-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Eina01';
  src: url('../../assets/fonts/Eina01-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Eina01';
  src: url('../../assets/fonts/Eina01-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Eina01';
  src: url('../../assets/fonts/Eina01-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Wirebet icons';
  src: url('../../assets/fonts/Wirebet_Icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-BoldItallic.ttf') format('truetype'), url('../../assets/fonts/Bison-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-DemiBold.ttf') format('truetype'), url('../../assets/fonts/Bison-DemiBoldItallic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bison thickoutline';
  src: url('../../assets/fonts/Bison-ThickOutline.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bison thickoutlineitallic';
  src: url('../../assets/fonts/Bison-ThickOutlineItallic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bison';
  src: url('../../assets/fonts/Bison-ThinOutline.ttf') format('truetype'), url('../../assets/fonts/Bison-ThinOutlineItallic.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
