<app-app-store></app-app-store>
<app-header [modals]="[modal1, modal2]"></app-header>

<router-outlet></router-outlet>

<app-page-modal></app-page-modal>
<app-bottom-toolbar></app-bottom-toolbar>
<app-export-modal></app-export-modal>
<app-chat-modal></app-chat-modal>
<app-new-chat-pop-up></app-new-chat-pop-up>
<app-interactions-modal></app-interactions-modal>
<app-modal #modal1
           [styleClass]="'modal1'"
           [modalTitle]="'Panel 1'"
           [width]="600"
           [maximizable]="true"
           [backdrop]="false"
           [zIndex]="999">
  <ng-container class="app-modal-header">
    <div class="tool-bar-handle w-clearfix">
      <div class="move-handel" (click)="modal1.hide()">
        <div class="move-ball1"></div>
        <div class="move-ball1"></div>
        <div class="move-ball1"></div>
      </div>
    </div>
  </ng-container>
  <ng-container class="app-modal-body">
    <app-draggable-modal></app-draggable-modal>
  </ng-container>
  <!--<ng-container class="app-modal-footer">
    <button type="button" class="button button3">Delete</button>&nbsp;
    <button type="button" class="button button1">Save</button>
    <button type="button" class="button button2" style="float: right;" (click)="modal1.hide()">Close</button>
  </ng-container>-->
</app-modal>

<app-modal #modal2
           [styleClass]="'modal2'"
           [modalTitle]="'Panel 2'"
           [width]="600"
           [maximizable]="true"
           [backdrop]="false"
           [zIndex]="999">
  <ng-container class="app-modal-header">
    <div class="tool-bar-handle w-clearfix">
      <div class="move-handel" (click)="modal2.hide()">
        <div class="move-ball1"></div>
        <div class="move-ball1"></div>
        <div class="move-ball1"></div>
      </div>
    </div>
  </ng-container>
  <ng-container class="app-modal-body">
    <app-global-styles></app-global-styles>
  </ng-container>
  <!--<ng-container class="app-modal-footer">
    <button type="button" class="button button3">Delete</button>&nbsp;
    <button type="button" class="button button1">Save</button>
    <button type="button" class="button button2" style="float: right;" (click)="modal1.hide()">Close</button>
  </ng-container>-->
</app-modal>

<app-coming-soon-modal></app-coming-soon-modal>

