::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
  display: none;
  height: 0px;
  width: 0px;
}

.SCROLLABLE-Div-Class-Name {
  overflow-x: hidden;
}

.move-handel {
  cursor: pointer;
}
