<div class="viewingOpts">
  <div class="app-menu-container w-clearfix">
    <div class="text-block-14">Views</div>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img src="assets/images/Asset-384x.png"
                                                                                     width="14"
                                                                                     srcset="assets/images/Asset-384x-p-500.png 500w, assets/images/Asset-384x.png 869w"
                                                                                     sizes="(max-width: 767px) 100vw, 21.887500762939453px"
                                                                                     class="borader-select">
      <div class="menu-note">
        <div>Fullscreen</div>
      </div>
    </a>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img
      src="assets/images/Asset-414x.png" width="14" class="borader-select">
      <div class="menu-note">
        <div>Boarders</div>
      </div>
    </a>
  </div>

  <div class="app-menu-container w-clearfix">
    <div class="text-block-14">Previews</div>

    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img src="assets/images/Asset-114x.png"
                                                                                     width="14"
                                                                                     class="borader-select long">
      <div class="menu-note">
        <div>Preview</div>
      </div>
    </a>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img
      src="assets/images/Asset-344x.png" width="14" class="borader-select">
      <div class="menu-note">
        <div>Desktop View</div>
      </div>
    </a>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img src="assets/images/Asset-354x.png"
                                                                                     width="14"
                                                                                     class="borader-select">
      <div class="menu-note">
        <div>Tablet View</div>
      </div>
    </a>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img
      src="assets/images/Asset-364x.png"
      width="14"
      class="borader-select phone-rotate">
      <div class="menu-note">
        <div>Phone View</div>
      </div>
    </a>
    <a href="#" class="add-bnt save1 w-inline-block" data-ix="save-note-reveal"><img src="assets/images/Asset-364x.png"
                                                                                     width="14"
                                                                                     class="borader-select">
      <div class="menu-note">
        <div>Phone View</div>
      </div>
    </a>
  </div>
</div>
