<div class="pub">
  <div class="publish-bnt1 w-clearfix">
    <a href="#" class="add-bnt publish w-inline-block"
       data-ix="publish-reveal"><img src="assets/images/upload.svg" width="17"
                                     class="button-icon publish">
      <div class="text-block-10"><span class="published">Published: </span><span class="publish-time">Last May 8, 2018: 4:09pm</span></div>
    </a>
  </div>

  <!--ONLINE USERS COMPONENT-->
  <div class="users-online">
    <img src="assets/images/profile-for-everything3.PNG"
         srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
         sizes="(max-width: 767px) 100vw, 34px" class="user-avatar online">
    <img src="assets/images/face23.jpg" class="user-avatar">
  </div>
</div>
