.pub {
  margin-left: -2vw !important;
}
.publish-bnt1 {
  max-width: 15vw;
}
.published {
  font-size: 0.8vw;
}
.publish-time {
  font-size: 0.5vw;
}
.users-online img {
  max-width: 2vw;
  max-height: 2vw;
}
