<div class="page-modal" data-ix="page-modal-hide-1-state">
  <div class="w-container">
    <div class="modal-details">
      <div class="modal-header w-clearfix">
        <div class="modal-header-title">Home Page</div>
        <div class="date">Last Updated: June 15, 2018</div>
        <a href="#" class="modal-close w-inline-block" data-ix="pagemodal-close"><img
          src="assets/images/x-close-icon.svg" class="close-bnt-invert"></a></div>
      <div>
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="tabs-menu-5 w-tab-menu">
            <a data-w-tab="Tab 1" class="tab-main w-inline-block w-tab-link w--current">
              <div>General</div>
            </a>
            <a data-w-tab="Tab 2" class="tab-main w-inline-block w-tab-link">
              <div>SEO-Settings</div>
            </a>
            <a data-w-tab="Tab 4" class="tab-main w-inline-block w-tab-link">
              <div>Open Graph Settings</div>
            </a>
            <a data-w-tab="Tab 5" class="tab-main w-inline-block w-tab-link">
              <div>Site-Search Settings</div>
            </a>
          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
              <div class="modal-settings-content">
                <div class="form-block-3 w-form">
                  <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="main-form w-clearfix">
                    <div class="form-field w-clearfix"><label for="name" class="field-lable">Page
                      Name</label><input type="text" class="field w-input" maxlength="256"
                                         name="name" data-name="Name" placeholder="Add Page Name"
                                         id="name"></div>
                    <div class="form-field w-clearfix"><label for="name-4" class="field-lable">Share
                      Options</label>
                      <div class="field-note">*Note Share Features per page will be the same as
                        project share features
                      </div>
                      <input type="text" class="field w-input" maxlength="256" name="name-3"
                             data-name="Name 3"
                             placeholder="http://dulce-template.pixel.io/hohttp://dulce-template.///dfher.codr-layout-6"
                             id="name-3"><a href="#"
                                            class="symbol-button push-down w-inline-block"><img
                        src="assets/images/user-plus.svg" width="18" class="symbol-icon"></a><a
                        href="#" class="symbol-button push-down w-inline-block"><img
                        src="assets/images/paste.svg" width="18" class="symbol-icon"></a>
                      <div class="user-share"><img src="assets/images/face14_1face14.jpg"
                                                   class="user-avatar">
                        <div class="user-details">Daren Molly</div>
                        <a href="#" class="user-remove">Remove</a></div>
                      <div class="user-share"><img src="assets/images/profile-for-everything3.PNG"
                                                   srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                                   sizes="100vw" class="user-avatar online">
                        <div class="user-details">Tayler ODea <span
                          class="user-admin">(Admin)</span></div>
                        <a href="#" class="user-remove">Remove</a></div>
                      <div class="user-share"><img src="assets/images/face16_1face16.jpg"
                                                   class="user-avatar online">
                        <div class="user-details">Dayton Vue</div>
                        <a href="#" class="user-remove">Remove</a></div>
                    </div>
                    <div class="form-field w-clearfix"><label for="name-2" class="field-lable">Page
                      Decription (120 words max)</label><input type="text" class="field w-input"
                                                               maxlength="256" name="name-2"
                                                               data-name="Name 2"
                                                               placeholder="Add Page Name"
                                                               id="name-2"></div>
                    <input type="submit" value="Save" data-wait="Please wait..."
                           class="submit-button-4 w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane">
              <div class="modal-settings-content">
                <div class="form-block-3 w-form">
                  <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="main-form w-clearfix">
                    <div class="form-field w-clearfix"><label for="name-4" class="field-lable">Page
                      Name</label><input type="text" class="field w-input" maxlength="256"
                                         name="name-4" data-name="Name 4"
                                         placeholder="Add Page Name" id="name-4"></div>
                    <div class="form-field w-clearfix"><label for="name-5" class="field-lable">Share
                      Options</label>
                      <div class="field-note">*Note Share Features per page will be the same as
                        project share features
                      </div>
                      <input type="text" class="field w-input" maxlength="256" name="name-3"
                             data-name="Name 3"
                             placeholder="http://dulce-template.pixel.io/hohttp://dulce-template.///dfher.codr-layout-6"
                             id="name-3"><a href="#"
                                            class="symbol-button push-down w-inline-block"><img
                        src="assets/images/user-plus.svg" width="18" class="symbol-icon"></a><a
                        href="#" class="symbol-button push-down w-inline-block"><img
                        src="assets/images/paste.svg" width="18" class="symbol-icon"></a>
                      <div class="user-share"><img src="assets/images/face14_1face14.jpg"
                                                   class="user-avatar">
                        <div class="user-details">Daren Molly</div>
                        <a href="#" class="user-remove">Remove</a></div>
                      <div class="user-share"><img src="assets/images/profile-for-everything3.PNG"
                                                   srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                                   sizes="100vw" class="user-avatar online">
                        <div class="user-details">Tayler ODea <span
                          class="user-admin">(Admin)</span></div>
                        <a href="#" class="user-remove">Remove</a></div>
                      <div class="user-share"><img src="assets/images/face16_1face16.jpg"
                                                   class="user-avatar online">
                        <div class="user-details">Dayton Vue</div>
                        <a href="#" class="user-remove">Remove</a></div>
                    </div>
                    <div class="form-field w-clearfix"><label for="name-5" class="field-lable">Page
                      Decription (120 words max)</label><input type="text" class="field w-input"
                                                               maxlength="256" name="name-2"
                                                               data-name="Name 2"
                                                               placeholder="Add Page Name"
                                                               id="name-2"></div>
                    <input type="submit" value="Save" data-wait="Please wait..."
                           class="submit-button-4 w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 4" class="w-tab-pane">
              <div class="modal-settings-content">
                <div class="form-block-3 w-form">
                  <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="main-form w-clearfix">
                    <div class="form-field w-clearfix"><label for="name-6" class="field-lable">Open
                      Graph Title</label><input type="text" class="field w-input" maxlength="256"
                                                name="name-2" data-name="Name 2"
                                                placeholder="Open Graph Title" id="name-2"></div>
                    <div class="form-field w-clearfix"><label for="name-5" class="field-lable">Open
                      Graph Description</label><input type="text" class="field w-input"
                                                      maxlength="256" name="name-5"
                                                      data-name="Name 5"
                                                      placeholder="OG Description" id="name-5">
                    </div>
                    <div class="form-field"><label for="name-7" class="field-lable">Preview</label>
                      <div class="field-note">*Note Allassets/images must be 1200px x 630px</div>
                      <div class="open-graph-preview"><img src="assets/images/open-graph1.jpg"
                                                           srcset="assets/images/open-graph1-p-800.jpeg 800w, assets/images/open-graph1-p-1080.jpeg 1080w, assets/images/open-graph1.jpg 1240w"
                                                           sizes="100vw"
                                                           class="opengraph-preview">
                        <div class="opengraph-preview-text">
                          <div class="open-graph-title">Open Graph Title</div>
                          <div>General Description</div>
                          <a href="#">http://demolink.contend stratgey.com</a></div>
                      </div>
                    </div>
                    <input type="submit" value="Save" data-wait="Please wait..."
                           class="submit-button-4 w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 5" class="w-tab-pane">
              <div class="modal-settings-content">
                <div class="form-block-3 w-form">
                  <form id="email-form-2" name="email-form-2" data-name="Email Form 2"
                        class="main-form w-clearfix">
                    <div class="form-field w-clearfix"><label for="name-6" class="field-lable">Site
                      Search Settings</label><input type="text" class="field w-input"
                                                    maxlength="256" name="name-6"
                                                    data-name="Name 6" placeholder="Add Page Name"
                                                    id="name-6"></div>
                    <div class="form-field w-clearfix"><label for="name-7" class="field-lable">Keywords</label><input
                      type="text" class="field w-input" maxlength="256" name="name-2"
                      data-name="Name 2" placeholder="Add Page Name" id="name-2"></div>
                    <input type="submit" value="Save" data-wait="Please wait..."
                           class="submit-button-4 w-button"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
