<div class="page-drawer" data-ix="app-pagedrawer-close">
  <div class="page-drawer-header w-clearfix">
    <a href="#" class="slide-name-close-bnt w-inline-block" data-ix="app-page-drawer-close">
      <div class="cabinate-title">Paimages</div>
      <img src="assets/images/x-close-icon.svg" class="close-invert-bnt"></a>
    <div class="add-new-page"><a href="#" class="symbol-button w-inline-block"><img src="assets/images/folder-open.svg"
                                                                                    class="symbol-icon"></a><a
      href="#" class="symbol-button w-inline-block"><img src="assets/images/file-text2.svg" class="symbol-icon"></a>
    </div>
  </div>
  <div class="draw-contents">
    <div class="project-paimages-contain">
      <div class="drawer-inner-title">Project Paimages</div>
      <div class="project-paimages"><a href="#" class="project-folder w-inline-block"><img
        src="assets/images/folder-open.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Default Test Project</div>
      </a><a href="#" class="project-page w-inline-block w-clearfix" data-ix="page-modalreveal"><img
        src="assets/images/file-text2.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Home Page<span class="index"> (index)</span></div>
        <img src="assets/images/home3.svg" width="13" class="symbol-icon right-aligh"></a><a href="#"
                                                                                             class="project-page w-inline-block"
                                                                                             data-ix="page-modalreveal"><img
        src="assets/images/file-text2.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Services Page</div>
      </a><a href="#" class="project-page w-inline-block" data-ix="page-modalreveal"><img
        src="assets/images/file-text2.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">About Us Page</div>
      </a></div>
    </div>
    <div class="project-paimages-contain w-clearfix">
      <div class="drawer-inner-title">App Utility Paimages</div>
      <img src="assets/images/pixel-apps-logo-BG.png" width="30" class="app-logo">
      <div class="project-paimages"><a href="#" class="project-folder w-inline-block w-clearfix"><img
        src="assets/images/folder-open.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Wordpress Module</div>
        <img src="assets/images/500px-Wordpress-Logo.png" width="13" class="symbol-icon right-aligh"></a><a href="#"
                                                                                                            class="project-page w-inline-block w-clearfix"
                                                                                                            data-ix="page-modalreveal"><img
        src="assets/images/file-text2.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Sign In<span class="index"> (php)</span></div>
        <img src="assets/images/home3.svg" width="13" class="symbol-icon right-aligh"></a><a href="#"
                                                                                             class="project-page w-inline-block"
                                                                                             data-ix="page-modalreveal"><img
        src="assets/images/file-text2.svg" width="13" class="symbol-icon">
        <div class="page-drawer-title">Config file</div>
      </a></div>
    </div>
    <div class="add-more-apps">
      <a href="#" class="add-more-app-bnt w-inline-block">
        <div class="bnt-text">Add more Applications</div>
      </a>
    </div>
  </div>
</div>
