<div class="logo-menu" data-ix="logo-menu-dissapear">
  <div><a href="#" class="drop-link w-inline-block"><img src="assets/images/home.svg" width="14" class="link-drop-icon">
    <div class="link-drop-text">Back to Dashboard</div>
  </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/pixelbin-fav-big.png" width="14"
                                                        class="link-drop-icon no-invert">
    <div class="link-drop-text">Explore Pixel Bin Community</div>
  </a>
    <div class="title">Export &amp; Save</div>
    <a href="#" class="drop-link w-inline-block"><img src="assets/images/download.svg" width="14"
                                                      class="link-drop-icon">
      <div class="link-drop-text">Import File</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/upload.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">Export Files as Zip</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/if_save_1608823.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">Save as .PXL Packet</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/folder-open.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">Save as SVG File</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/folder-open.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">Save as PDF Files</div>
    </a>
    <div class="title">Project Settings</div>
    <a href="#" class="drop-link w-inline-block"><img src="assets/images/photo.svg" width="14" class="link-drop-icon">
      <div class="link-drop-text">Manage Media Files</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/if_Streamline-74_185094.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">View Project &amp; SEO Settings</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/newspaper.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">View Hosting and Domain Settings</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/if_code_1608639.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">View Code Settings</div>
    </a>
    <div class="title">Share</div>
    <a href="#" class="drop-link w-inline-block"><img src="assets/images/user-plus.svg" width="14"
                                                      class="link-drop-icon">
      <div class="link-drop-text">Share Link and Manage Users</div>
    </a>
    <div class="title">Applications</div>
    <a href="#" class="drop-link w-inline-block"><img src="assets/images/box-remove.svg" width="14"
                                                      class="link-drop-icon">
      <div class="link-drop-text">Manage your Applications</div>
    </a>
    <div class="title">Pixel Creator Support</div>
    <a href="#" class="drop-link w-inline-block"><img src="assets/images/star-empty.svg" width="14"
                                                      class="link-drop-icon">
      <div class="link-drop-text">Support and Help</div>
    </a><a href="#" class="drop-link w-inline-block"><img src="assets/images/bubbles2.svg" width="14"
                                                          class="link-drop-icon">
      <div class="link-drop-text">Tutorials and Learning</div>
    </a></div>
</div>
