<div class="chat-popup w-clearfix" data-ix="chat-popupdissapear">
  <div class="chat-popup-header">
    <a href="#" class="link-block-2 w-inline-block" data-ix="chat-modal-reveal">
      <div>View Conversation</div>
    </a>
  </div>
  <div class="chat-single pop-up w-clearfix"><img src="assets/images/Asset-424x.png" width="20" class="new-chat-icon">
    <div class="new-chat-content"><img src="assets/images/profile-for-everything3.PNG"
                                       srcset="assets/images/profile-for-everything3-p-500.png 500w, assets/images/profile-for-everything3-p-800.png 800w, assets/images/profile-for-everything3.PNG 979w"
                                       sizes="100vw" class="chat-avatar-speaking">
      <div class="chat-signle-name">Tayler O&#x27;Dea</div>
      <div class="chat-signle-date">June 18, 2018</div>
      <div>
        <p class="chat-signle-text pop-up-chat-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse varius enim in eros elementum tristique.  Dolor Aba Suite By Nesta Ova Nunot.</p>
      </div>
    </div>
  </div>
  <div class="new-chatt-commet chat-pop-up-chat-new">
    <div>
      <div class="w-row">
        <div class="w-col w-col-1"></div>
        <div class="w-clearfix w-col w-col-11">
          <div class="chat-form w-form">
            <form id="email-form-4" name="email-form-4" data-name="Email Form 4" class="form-4"><textarea
              id="field-2" name="field-2" placeholder="Your New Comment" maxlength="5000"
              data-name="Field 2" class="text-field popup w-input"></textarea><input type="submit"
                                                                                     value="Send"
                                                                                     data-wait="Please wait..."
                                                                                     class="submit-button-6 chat-popup-bnt w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
