<div class="app-bottom-toolbar">
  <div class="center-apps">
    <div class="container w-container">
      <div class="app-container-header">
        <div>Manage Project Apps</div>
      </div>
      <a href="#" class="app-container-signel w-inline-block" data-ix="hover-app-name-reveal"><img
        src="images/pixel-apps-logo-move.png" class="app-single">
        <div class="app-name light" data-ix="made-withapp-name-bottom">
          <div>App Store</div>
        </div>
      </a><a href="#" class="app-container-signel w-inline-block" data-ix="hover-app-name-reveal"><img
      src="images/figma-logo.jpg" srcset="images/figma-logo-p-500.jpeg 500w, images/figma-logo.jpg 512w"
      sizes="(max-width: 479px) 100vw, 60px" class="app-single">
      <div class="app-on"></div>
      <div class="app-name" data-ix="made-withapp-name-bottom">
        <div>Figma</div>
      </div>
    </a><a href="#" class="app-container-signel w-inline-block" data-ix="hover-app-name-reveal"><img
      src="images/js.jpg" srcset="images/js-p-500.jpeg 500w, images/js.jpg 1052w"
      sizes="(max-width: 479px) 100vw, 60px" class="app-single">
      <div class="app-name" data-ix="made-withapp-name-bottom">
        <div>Java Script (Portal)</div>
      </div>
    </a>
      <a href="#" class="add-app-modal-view w-inline-block">
        <div>+</div>
      </a>
    </div>
  </div>
</div>
