<!--APP STORE COMPONENT-->
<div class="app-store" data-ix="app-store-hide">
  <div class="w-container">
    <div class="chat-modal-containe">
      <div class="modal-header chat-header w-clearfix">
        <div class="modal-header-title">Integrated Applications</div>
        <div class="date">Manage and Install Thrid Party Appliations</div>
        <a href="#" class="modal-close w-inline-block" data-ix="appstoreclose">
          <img
          src="assets/images/x-close-icon.svg" class="close-bnt-invert">
        </a>
      </div>
      <div class="chat-box-widget1">
        <div>
          <div data-duration-in="300" data-duration-out="100" class="w-tabs">
            <div class="tabs-menu-5 w-clearfix w-tab-menu">
              <a data-w-tab="Tab 1" class="tab-main w-inline-block w-tab-link w--current">
                <div>Featured</div>
              </a>
              <a data-w-tab="Tab 2" class="tab-main w-inline-block w-tab-link">
                <div>All</div>
              </a><a data-w-tab="Tab 4" class="tab-main right-aling w-inline-block w-tab-link"><img
              src="assets/images/pixel-apps-logo.png" width="20" class="app-store-icon">
              <div class="app-mine-text">Installed Applications</div>
            </a></div>
            <div class="w-tab-content">
              <div data-w-tab="Tab 1" class="tab-scroll w-tab-pane w--tab-active">
                <div>
                  <a href="#" class="featued-applcation w-inline-block">
                    <div class="featured-app-description">
                      <div>
                        <div>Featured Applications</div>
                        <div class="title no-space">View all</div>
                      </div>
                    </div>
                  </a>
                  <div class="apps w-row">
                    <div class="w-col w-col-6">
                      <a href="#" class="featued-applcation figma w-inline-block">
                        <div class="featured-app-description">
                          <div>
                            <div class="w-row">
                              <div class="w-col w-col-6">
                                <div>Figma Importer</div>
                                <div class="title no-space">Figma Asset Importer</div>
                              </div>
                              <div class="w-clearfix w-col w-col-6">
                                <div class="instal-buntton">
                                  <div>Install</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="w-col w-col-6">
                      <a href="#" class="featued-applcation wp w-inline-block">
                        <div class="featured-app-description">
                          <div>
                            <div class="w-row">
                              <div class="w-col w-col-6">
                                <div>Wordpress Package</div>
                                <div class="title no-space">Wordpress 4.9.7 for PxL
                                </div>
                              </div>
                              <div class="w-clearfix w-col w-col-6">
                                <div class="instal-buntton">
                                  <div>Install</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="apps w-row">
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/dribbble.jpg"></div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>Dribbble Import</div>
                              <div class="title no-space">Portfolio Connect</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/sketch.PNG"></div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>Sketch Assets</div>
                              <div class="title no-space">Portfolio Connect</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/react-js.PNG"></div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>React JS</div>
                              <div class="title no-space">Portfolio Connect</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="w-row">
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/github.png"></div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>Github Connnect</div>
                              <div class="title no-space">Connect to a Repo</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/sublime.png"
                                                              srcset="assets/images/sublime-p-500.png 500w, assets/images/sublime.png 512w"
                                                              sizes="100vw"></div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>Sublime Text</div>
                              <div class="title no-space">text editor</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="w-col w-col-4">
                      <a href="#" class="app-sm-card w-inline-block">
                        <div class="w-row">
                          <div class="col w-col w-col-5"><img src="assets/images/photoshop1.jpg">
                          </div>
                          <div class="w-col w-col-7">
                            <div class="small-app-icon-details w-clearfix">
                              <div>Photoshop</div>
                              <div class="title no-space">Photoshop import</div>
                              <div class="instal-buntton dark">
                                <div>Install</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="button-container">
                  <a href="#" class="submit-text-bnt w-inline-block">
                    <div>View All</div>
                  </a>
                </div>
              </div>
              <div data-w-tab="Tab 2" class="tab-scroll w-tab-pane">
                <div>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/dribbble.jpg"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Dribbble Import</div>
                          <div class="title no-space">Portfolio Connect</div>
                          <div class="title no-space installed">installed</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/sublime.png"
                                                          srcset="assets/images/sublime-p-500.png 500w, assets/images/sublime.png 512w"
                                                          sizes="100vw" class="app-icon-image">
                      </div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Sublime Edoitor</div>
                          <div class="title no-space">New Text Editor</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/photoshop1.jpg"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Photoshop Importer</div>
                          <div class="title no-space">Portfolio Connect</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/github.png"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Github Connect</div>
                          <div class="title no-space">Connect to a repo</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/react-js.PNG"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>React Library</div>
                          <div class="title no-space">Add react functionality</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/sketch.PNG"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Sketch Importer</div>
                          <div class="title no-space">Add sketch ASSETS</div>
                          <div class="instal-buntton dark push-up">
                            <div>Install</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="button-container">
                  <a href="#" class="submit-text-bnt w-inline-block">
                    <div>Load More</div>
                  </a>
                </div>
              </div>
              <div data-w-tab="Tab 4" class="w-tab-pane">
                <div>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/pixel-apps-logo-move.png"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Pixel App Store</div>
                          <div class="title no-space boldupdate">up to date</div>
                          <div class="title no-space installed">installed</div>
                          <div class="delete-app">Cannot Delete<span
                            class="text-span-8"></span></div>
                          <div class="instal-buntton dark push-up">
                            <div>Up to Date</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/dribbble.jpg"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Dribbble Import</div>
                          <div class="title no-space boldupdate">update to include content
                            select
                          </div>
                          <div class="title no-space installed">installed</div>
                          <div class="delete-app">Installed 8/3/2018: <span
                            class="text-span-8">Delete</span></div>
                          <div class="instal-buntton dark push-up update-date-state">
                            <div>Update 1.2.4</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/sublime.png"
                                                          srcset="assets/images/sublime-p-500.png 500w, assets/images/sublime.png 512w"
                                                          sizes="100vw" class="app-icon-image">
                      </div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Sublime Text Editor</div>
                          <div class="title no-space boldupdate">up to date</div>
                          <div class="title no-space installed">installed</div>
                          <div class="delete-app">Installed 8/3/2018: <span
                            class="text-span-8">Delete</span></div>
                          <div class="instal-buntton dark push-up">
                            <div>Up to Date</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="#" class="app-sm-card long-small w-inline-block">
                    <div class="w-row">
                      <div class="col w-col w-col-1"><img src="assets/images/github.png"
                                                          class="app-icon-image"></div>
                      <div class="w-col w-col-11">
                        <div class="small-app-icon-details w-clearfix">
                          <div>Github Connect</div>
                          <div class="title no-space boldupdate">up to date</div>
                          <div class="title no-space installed">installed</div>
                          <div class="delete-app">Installed 8/3/2018: <span
                            class="text-span-8">Delete</span></div>
                          <div class="instal-buntton dark push-up">
                            <div>Up to Date</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
