<div class="sidebar-nav"><a href="#" class="app-icon1 w-inline-block" data-ix="app-pagedrawer-open"><img
  src="assets/images/copy.svg"></a><a href="#" class="app-icon1 w-inline-block" data-ix="media-rawer-open"><img
  src="assets/images/photo.svg"></a><a href="#" class="app-icon1 thrid-party w-inline-block"><img src="assets/images/js.jpg"
                                                                                                  srcset="assets/images/js-p-500.jpeg 500w, assets/images/js.jpg 1052w"
                                                                                                  sizes="(max-width: 767px) 15px, (max-width: 991px) 2vw, 15px"
                                                                                                  class="app-icon-small"></a><a
  href="#" class="app-icon1 thrid-party w-inline-block"><img src="assets/images/wp-icon-dark.PNG" class="app-icon-small"></a>
  <div class="code-container"></div>
</div>
